@charset "UTF-8";
/*! HTML5 Boilerplate v5.0.0 | MIT License | http://h5bp.com/ */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,800);
html {
  color: #222;
  font-size: 1em;
  line-height: 1.4; }

body {
  width: 100%;
  margin: 0;
  padding: 0; }

li, ol, ul a {
  list-style: none; }

a {
  text-decoration: none;
  font-style: none; }

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle; }

/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical; }

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* Variables para los colores corporativos */
/* Variables para el uso de la tipografía */
/* Variables para los breakpoints */
body {
  font-family: "Open Sans", sans-serif;
  color: #1F264A; }

#org-content {
  max-width: 87em;
  margin: 0 auto; }

header .logo-a {
  display: inline-block; }
header .logo {
  display: inline-block;
  width: 55px;
  height: 75px;
  padding: .7em .7em 1.5em .7em; }

.menu-right .menu-nav, .menu-right .menu-contact {
  display: none; }
.menu-right .iconoMenu img {
  display: block;
  max-width: 30px;
  height: 30px;
  margin: -5.5em 0 3em 80%; }

#menu {
  display: none;
  margin: 2em 0 0;
  background: #1F264A;
  width: 100%; }
  #menu ul {
    padding: 0;
    margin: 0; }
    #menu ul li {
      line-height: 3em;
      text-align: center;
      border-bottom: 1px solid #ffffff; }
      #menu ul li a {
        display: inline;
        color: #EEE;
        text-decoration: none;
        padding: 0.8em 0; }
  #menu .instalaciones {
    color: #EEE;
    text-align: center; }
  #menu .selected {
    background: #F59B23; }
  #menu .instalacionesList {
    display: none; }
    #menu .instalacionesList li {
      background: #FFFFFF;
      line-height: 3em;
      text-align: center;
      border-bottom: 1px solid #1F264A; }
      #menu .instalacionesList li a {
        display: inline;
        color: #1F264A;
        padding: 0.8em 0; }

.menu-movil {
  width: 100%;
  height: 50px;
  border-bottom: 2px solid #1F264A;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  z-index: 999999;
  background-color: rgba(255, 255, 255, 0.9); }
  .menu-movil .scroll-top-movil {
    width: 45px;
    height: 45px;
    position: fixed;
    top: 3px;
    right: 30px; }
  .menu-movil .tel {
    position: fixed;
    top: 6px;
    left: 20px;
    text-align: center;
    background-color: #1F264A;
    color: #ffffff;
    padding: 0.5em;
    border-radius: 3px; }

@media only screen and (min-width: 37.5em) {
  .menu-movil {
    display: none !important; } }
.cover {
  position: relative; }
  .cover img {
    width: 100%; }
  .cover .cover-text {
    width: 60%;
    text-align: center;
    font-size: 1em;
    position: absolute;
    top: 1em;
    left: 20%;
    color: #1F264A;
    font-weight: 600;
    line-height: 1.3em; }
    .cover .cover-text span {
      font-weight: 800;
      font-size: 1.1em; }
  .cover .subcover-text {
    width: 65%;
    text-align: center;
    font-size: .6em;
    position: absolute;
    top: 9em;
    left: 18%; }

.claim {
  background-color: #1F264A;
  font-size: 1em;
  color: #ffffff;
  padding: 1em;
  text-align: center;
  margin-top: -3.3em; }
  .claim p {
    font-weight: 300; }

.claimdisplay {
  display: none; }

.serviciosmovil {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex; }
  .serviciosmovil p {
    text-align: center;
    font-size: 14px;
    padding: 0 1em; }
  .serviciosmovil .tituloservicios {
    text-align: center;
    font-size: 16px;
    margin-top: 1em; }
  .serviciosmovil .tipoestilo {
    font-weight: 800;
    font-size: 22px; }
  .serviciosmovil article {
    background-color: #FEFCF7;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-box-orient: vertical;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    flex-direction: column;
    margin-bottom: 32px;
    width: 90%;
    margin: 5%;
    padding-bottom: 1em; }
    .serviciosmovil article a {
      display: inline-block;
      width: 100%;
      text-align: center; }
    .serviciosmovil article h2 {
      font-size: 18px;
      text-align: center; }

.serviciosdesktop {
  display: none; }

.caracteristicas {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-box-orient: vertical;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  flex-direction: column;
  background-color: #E5E6E9;
  padding: 3em 1.2em 1.2em 1.2em; }
  .caracteristicas article {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex; }
    .caracteristicas article .especial {
      width: 65px;
      margin-left: -50%; }
    .caracteristicas article img {
      width: 58px;
      height: 62px; }
    .caracteristicas article div {
      margin: -1.7em 0 .8em 30%; }
      .caracteristicas article div p {
        margin-top: -.6em;
        font-size: 14px; }
      .caracteristicas article div h2 {
        font-size: 18px; }
    .caracteristicas article .especialdiv {
      margin-left: 29%; }

.logosinstalacion div h1 {
  font-weight: 600;
  text-align: center;
  font-size: 20px; }
  .logosinstalacion div h1 span {
    font-weight: 800; }
.logosinstalacion img {
  width: 30%;
  text-align: center;
  margin: 1em 1% 1.5em 1%; }

.contacto {
  background-color: #1F264A;
  color: #ffffff;
  height: auto;
  padding: 1em 5% 3em 5%; }
  .contacto .contactpregunta {
    margin-left: -1%; }
  .contacto .contactext {
    font-size: 14px;
    margin: -1.5em 0 2em 0;
    width: 90%; }

.izda {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-box-orient: vertical;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  flex-direction: column; }
  .izda article {
    width: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex; }
  .izda img {
    width: 39px;
    height: 39px;
    margin-left: -12%;
    margin-top: .3em; }
  .izda .house {
    margin-top: -.7em; }
  .izda div {
    margin-left: 10%; }
  .izda p {
    font-size: 14px; }
  .izda a {
    color: #ffffff; }
  .izda .contactrow {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-box-orient: vertical;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    flex-direction: column;
    margin-bottom: 1em; }
    .izda .contactrow p {
      margin-top: -.8em; }

.dcha p {
  text-align: center; }
.dcha input, .dcha textarea {
  margin: 6px 8%;
  height: 42px;
  width: 80%; }
.dcha .submit {
  position: relative;
  left: 4.8%;
  height: 42px;
  width: 40%; }

footer {
  background-color: #E5E6E9; }
  footer .social {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    padding: 1em; }
    footer .social .plus {
      margin: .4em 0 0 40%; }
      footer .social .plus img {
        width: 30px;
        height: 30px; }
  footer p {
    text-align: center;
    font-size: 12px; }

.nosotros, .logosmarcas {
  display: none; }

/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Hide visually and from screen readers:
 * http://juicystudio.com/article/screen-readers-display-none.php
 */
.hidden {
  display: none !important;
  visibility: hidden; }

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

/*
 * Hide visually and from screen readers, but maintain layout
 */
.invisible {
  visibility: hidden; }

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.clearfix:after {
  clear: both; }

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */ }
@media print, (-o-min-device-pixel-ratio: 5 / 4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */ }
/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */
@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster:
       http://www.sanbeiji.com/archives/953 */
    box-shadow: none !important;
    text-shadow: none !important; }

  a,
  a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: ""; }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  /*
   * Printing Tables:
   * http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group; }

  tr,
  img {
    page-break-inside: avoid; }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }

  h2,
  h3 {
    page-break-after: avoid; } }
