@charset "UTF-8";
/*! HTML5 Boilerplate v5.0.0 | MIT License | http://h5bp.com/ */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */
/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,800);
@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700);
html {
  color: #222;
  font-size: 1em;
  line-height: 1.4; }

body {
  width: 100%;
  margin: 0;
  padding: 0; }

li, ol, ul a {
  list-style: none; }

a {
  text-decoration: none;
  font-style: none; }

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */
::-moz-selection {
  background: #b3d4fc;
  text-shadow: none; }

::selection {
  background: #b3d4fc;
  text-shadow: none; }

/*
 * A better looking default horizontal rule
 */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0; }

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */
audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle; }

/*
 * Remove default fieldset styles.
 */
fieldset {
  border: 0;
  margin: 0;
  padding: 0; }

/*
 * Allow only vertical resizing of textareas.
 */
textarea {
  resize: vertical; }

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */
.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/* Variables para los breakpoints */
/* Variables para el uso de la tipografía */
/* Variables para los colores corporativos */
body {
  font-family: "Open Sans", sans-serif;
  color: #1F264A; }

#org-content {
  max-width: 1400px;
  margin: 0 auto; }

.instalaciones, .especialistas-wrapper {
  display: none; }

header .logo-a {
  display: inline-block;
  margin-left: 8%; }
header .logo {
  display: inline-block;
  width: 55px;
  height: 75px;
  padding: .7em .7em 1.5em .7em; }

@media only screen and (min-width: 600px) {
  header .logo {
    width: 73px;
    height: 101px;
    padding: 0.7em 1.5em 0em; } }
.menu-right .menu-nav, .menu-right .menu-contact {
  display: none; }
.menu-right .iconoMenu img {
  display: block;
  max-width: 30px;
  height: 25px;
  margin: -5.5em 0 3em 80%; }

@media only screen and (min-width: 600px) {
  .menu-right {
    margin: -6em 0 1em 35%;
    width: 60%;
    text-align: center; }
    .menu-right .iconoMenu {
      display: none; }
    .menu-right .menu-contact {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-flex-direction: column;
      -moz-flex-direction: column;
      -ms-flex-direction: column;
      -o-box-orient: vertical;
      -webkit-box-orient: vertical;
      -moz-box-orient: vertical;
      flex-direction: column;
      width: 100%; }
      .menu-right .menu-contact p {
        font-weight: 800;
        margin-left: 20%;
        font-size: 14px; }
      .menu-right .menu-contact a {
        display: none; }
      .menu-right .menu-contact .telcontact {
        margin-top: -.8em;
        font-size: 16px;
        font-weight: 300; }
      .menu-right .menu-contact .mail {
        font-size: 13px;
        margin-left: 1.5em; } }
@media only screen and (min-width: 900px) {
  .menu-right .menu-contact {
    margin: 0em auto 3.5em; }
    .menu-right .menu-contact p {
      font-size: 18px; }
    .menu-right .menu-contact .telcontact {
      margin-top: -1em;
      margin-bottom: -1em;
      font-size: 18px; }
    .menu-right .menu-contact .mail {
      font-size: 18px; } }
@media only screen and (min-width: 1280px) {
  .menu-right .menu-contact {
    margin: 0em auto 3.2em; }
    .menu-right .menu-contact p {
      font-size: 20px; }
    .menu-right .menu-contact .telcontact {
      font-size: 20px; }
    .menu-right .menu-contact .mail {
      font-size: 20px; } }
#menu {
  display: none;
  margin: 2em 0 0;
  background: #1F264A;
  width: 100%; }
  #menu ul {
    padding: 0;
    margin: 0; }
    #menu ul li {
      line-height: 3em;
      text-align: center; }
      #menu ul li a {
        display: inline;
        color: #EEE;
        text-decoration: none;
        padding: 1.8em 10%;
        font-size: 10px; }
  #menu .instalacionesMenu {
    color: #EEE;
    text-align: center;
    font-size: 10px;
    line-height: 50px; }
  #menu .selected {
    background: #F59B23; }
  #menu .instalacionesList {
    display: none; }
    #menu .instalacionesList li {
      background: #FFFFFF;
      line-height: 3em;
      text-align: center;
      border-bottom: 1px solid #1F264A; }
      #menu .instalacionesList li a {
        display: inline;
        color: #1F264A;
        padding: 0.8em 0; }

@media only screen and (min-width: 600px) {
  .menu-nav {
    display: -webkit-box !important;
    display: -moz-box !important;
    display: -ms-flexbox !important;
    display: -webkit-flex !important;
    display: flex !important;
    -webkit-justify-content: space-around;
    -ms-justify-content: space-around;
    -moz-justify-content: space-around;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -webkit-box-pack: justify;
    width: 100%;
    background-color: #ffffff;
    margin: 0 0 0 -5%; }
    .menu-nav ul {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-justify-content: space-around;
      -ms-justify-content: space-around;
      -moz-justify-content: space-around;
      -ms-flex-pack: distribute;
      justify-content: space-around;
      -webkit-box-pack: justify;
      width: 100%;
      margin: 0 0 0.5em 0; }
      .menu-nav ul li a {
        font-size: 16px;
        color: #1F264A;
        margin: 0;
        padding: 0;
        position: relative; }
      .menu-nav ul li li:hover {
        background-color: 3px solid #F59B23;
        -webkit-transition: width 1s;
        /* For Safari 3.1 to 6.0 */
        transition: width 1s; }
      .menu-nav ul #phone-movil {
        display: none; } }
.menu-movil {
  width: 100%;
  height: 50px;
  border-bottom: 2px solid #1F264A;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  z-index: 999999;
  background-color: rgba(255, 255, 255, 0.9); }
  .menu-movil .scroll-top-movil {
    width: 45px;
    height: 45px;
    position: fixed;
    top: 3px;
    right: 30px; }
  .menu-movil .tel {
    position: fixed;
    top: 6px;
    left: 20px;
    text-align: center;
    background-color: #1F264A;
    color: #ffffff;
    padding: 0.5em;
    border-radius: 3px; }

@media only screen and (min-width: 600px) {
  .menu-movil {
    display: none !important; } }
.cover {
  position: relative; }
  .cover img {
    width: 100%; }
  .cover .cover-text {
    width: 90%;
    text-align: center;
    font-size: 14px;
    position: absolute;
    top: 1em;
    left: 5%;
    color: #1F264A;
    font-weight: 600; }
    .cover .cover-text span {
      font-weight: 800; }
  .cover .subcover-text {
    width: 70%;
    text-align: center;
    font-size: .6em;
    position: absolute;
    top: 8em;
    left: 15%; }

@media only screen and (min-width: 600px) {
  .cover .cover-text {
    width: 80%;
    left: 10%;
    top: .5em;
    font-size: 20px; }
  .cover .subcover-text {
    width: 80%;
    font-size: 12px;
    top: 7em;
    left: 10%; } }
@media only screen and (min-width: 768px) {
  .cover .cover-text {
    width: 80%;
    left: 10%;
    font-size: 25px; }
  .cover .subcover-text {
    width: 70%;
    font-size: 14px;
    top: 7em;
    left: 15%; } }
@media only screen and (min-width: 1024px) {
  .cover .cover-text {
    top: -.2em;
    font-size: 35px; }
  .cover .subcover-text {
    font-size: 15px;
    left: 15%;
    top: 8em; } }
@media only screen and (min-width: 1280px) {
  .cover .cover-text {
    font-weight: 300;
    top: -.2em;
    font-size: 40px; }
  .cover .subcover-text {
    width: 70%;
    text-align: center;
    font-size: 20px;
    position: absolute;
    top: 7em;
    left: 15%; } }
.claim {
  background-color: #1F264A;
  font-size: 14px;
  color: #ffffff;
  padding: 3em 0;
  text-align: center;
  font-weight: 300; }
  .claim p {
    width: 90%;
    margin-left: 5%; }
  .claim .claimdisplay {
    display: none; }

@media only screen and (min-width: 600px) {
  .claim {
    font-size: 14px; }
    .claim p {
      width: 90%;
      margin-left: 5%; }
    .claim .claimdisplay {
      font-weight: 600;
      display: block;
      font-size: 14px; } }
@media only screen and (min-width: 768px) {
  .claim {
    font-size: 16px; }
    .claim .claimdisplay {
      font-size: 18px; } }
@media only screen and (min-width: 1024px) {
  .claim {
    font-size: 18px; }
    .claim .claimdisplay {
      font-size: 20px; } }
@media only screen and (min-width: 1280px) {
  .claim {
    font-size: 20px; }
    .claim .claimdisplay {
      font-size: 25px; } }
.tituloservicios2, .tipoestilo2, .tituloservicios3 {
  display: none; }

.serviciosdesktop {
  width: 90%;
  margin: 2em 5%;
  text-align: center; }
  .serviciosdesktop .tituloservicios {
    text-align: left;
    font-size: 12px;
    font-weight: 600;
    width: 60%;
    margin: 0 20%; }
  .serviciosdesktop .tipoestilo {
    text-align: left;
    width: 60%;
    font-size: 22px;
    font-weight: 800;
    margin: 0 20% 1em;
    line-height: 14px; }
  .serviciosdesktop article {
    width: 100%; }
    .serviciosdesktop article img {
      width: 37vw; }
    .serviciosdesktop article h2 {
      width: 60%;
      margin: 0 20%;
      font-size: 12px;
      background-color: #F59B23;
      color: #ffffff;
      font-weight: 300;
      line-height: 30px;
      text-align: center; }
    .serviciosdesktop article p {
      width: 46%;
      font-size: 9px;
      margin: 0 27% 1.5em;
      line-height: 18px;
      text-align: center; }
    .serviciosdesktop article .more {
      display: inline-block;
      color: #ffffff;
      background-color: #1F264A;
      padding: .6em;
      margin-bottom: 4em;
      font-size: 10px; }
  .serviciosdesktop .fontaneria-movil img, .serviciosdesktop .calefaccion-movil img, .serviciosdesktop .aire-movil img {
    width: 25%;
    padding: 1em; }
  .serviciosdesktop .gas-movil img {
    width: 15%;
    padding: 1em; }

@media only screen and (min-width: 600px) {
  .serviciosdesktop .fontaneria-movil, .serviciosdesktop .calefaccion-movil, .serviciosdesktop .gas-movil, .serviciosdesktop .aire-movil {
    display: none; }
  .serviciosdesktop .tituloservicios {
    font-size: 14px;
    width: 72%;
    margin: 0 14%; }
  .serviciosdesktop .tipoestilo {
    width: 72%;
    font-size: 26px;
    margin: 0 14% 1em; }
  .serviciosdesktop .asesor {
    margin-top: 2em; }
  .serviciosdesktop article p {
    width: 46%;
    font-size: 9px;
    margin: 1.5em 27%;
    line-height: 18px;
    text-align: center; }
  .serviciosdesktop article img {
    width: 45%; }
  .serviciosdesktop article h2 {
    width: 45%;
    margin: 0 27.5% 0.7em;
    font-size: 10px;
    background-color: #F59B23;
    color: #ffffff;
    font-weight: 300;
    line-height: 30px; }
  .serviciosdesktop article .more {
    background-color: #1F264A;
    width: 20%;
    text-align: center;
    margin: 0 auto; }

  .hacemos {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex; }
    .hacemos .instalaciones {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      -webkit-flex-direction: column;
      -moz-flex-direction: column;
      -ms-flex-direction: column;
      -o-box-orient: vertical;
      -webkit-box-orient: vertical;
      -moz-box-orient: vertical;
      flex-direction: column; }

  .comohacer {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    margin-top: .13em; } }
@media only screen and (min-width: 768px) {
  .tituloservicios, .tipoestilo {
    display: none; }

  .cabecera {
    margin-top: 1em;
    width: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex; }
    .cabecera .tituloservicios2 {
      display: block;
      width: 50%;
      font-size: 1.1em;
      margin-left: 11.5%;
      line-height: 1.2em; }
    .cabecera .tituloservicios3 {
      display: block;
      width: 50%;
      font-size: 1.1em;
      margin-left: -8%;
      line-height: 1.2em; }
    .cabecera .tipoestilo2 {
      display: block;
      font-size: 1.875em;
      font-weight: 800; }

  .serviciosdesktop {
    width: 80%;
    margin-left: 10%;
    margin-top: 0;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex; }
    .serviciosdesktop article p {
      width: 90%;
      font-size: 12px;
      margin: 1.5em 5%;
      height: 18em;
      text-align: center; }
    .serviciosdesktop article img {
      width: 85%; }
    .serviciosdesktop article h2 {
      width: 85%;
      margin: 0 8% 0.7em;
      font-size: 10px; }
    .serviciosdesktop article .more {
      width: 40%;
      text-align: center;
      margin: 0 auto; } }
@media only screen and (min-width: 1024px) {
  .cabecera .tituloservicios2 {
    font-size: 1.250em;
    margin-left: 16%;
    line-height: 1.5em; }
  .cabecera .tituloservicios3 {
    font-size: 1.36em;
    margin-left: -13%;
    line-height: 1.3em; }
  .cabecera .tipoestilo2 {
    display: block;
    font-size: 1.875em;
    font-weight: 800; }

  .serviciosdesktop {
    width: 70%;
    margin-left: 15%; }
    .serviciosdesktop article p {
      height: 14em; } }
@media only screen and (min-width: 1280px) {
  .cabecera {
    margin-bottom: -.9em; }
    .cabecera .tituloservicios2 {
      font-size: 1.4em;
      margin-left: 21%;
      line-height: 1.3em; }
    .cabecera .tituloservicios3 {
      font-size: 1.4em;
      margin-left: -18%; }
    .cabecera .tipoestilo2 {
      font-size: 1.9em; }

  .serviciosdesktop {
    width: 60%;
    margin-left: 20%; }
    .serviciosdesktop article p {
      height: 14em; } }
@media only screen and (min-width: 1400px) {
  .cabecera {
    margin-bottom: -.9em; }
    .cabecera .tituloservicios2 {
      font-size: 1.6em; }
    .cabecera .tituloservicios3 {
      font-size: 1.6em;
      margin-left: -19%; }
    .cabecera .tipoestilo2 {
      font-size: 1.9em; }

  .serviciosdesktop {
    width: 60%;
    margin-left: 20%; }
    .serviciosdesktop article p {
      height: 14em; } }
@media only screen and (min-width: 600px) {
  .especialistas-wrapper {
    width: 80%;
    display: block;
    margin-left: 15%; }
    .especialistas-wrapper p {
      font-size: 12px;
      width: 70%; }
    .especialistas-wrapper .especialup, .especialistas-wrapper .especialdown {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex; }
    .especialistas-wrapper .especialistasp {
      text-align: center;
      font-weight: 800;
      font-size: 20px;
      width: 100%; }
      .especialistas-wrapper .especialistasp span {
        font-weight: 600; }

  .especialistas img {
    width: 70%; }
  .especialistas h2 {
    font-size: 12px; }
  .especialistas .calefaccion {
    position: relative; }
    .especialistas .calefaccion h2 {
      position: absolute;
      top: .5em;
      left: 18%; }
  .especialistas .fontaneria {
    margin-right: 7%;
    position: relative; }
    .especialistas .fontaneria h2 {
      position: absolute;
      top: .5em;
      left: 17%; }
  .especialistas .gas {
    position: relative; }
    .especialistas .gas h2 {
      position: absolute;
      top: .2em;
      left: 27%; }
    .especialistas .gas img {
      width: 65%; }
  .especialistas .aire {
    position: relative; }
    .especialistas .aire h2 {
      position: absolute;
      top: .5em;
      left: 2%; } }
@media only screen and (min-width: 768px) {
  .especialistas-wrapper {
    width: 80%;
    margin-left: 15%; }
    .especialistas-wrapper .especialistasp {
      text-align: center;
      font-weight: 800;
      font-size: 20px;
      width: 100%; }
      .especialistas-wrapper .especialistasp span {
        font-weight: 600; }

  .especialistas {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex; }

  .calefaccion img {
    width: 120%; }

  .gas img {
    width: 28%; }
  .gas p {
    width: 40%; }

  .aire img {
    width: 80%; } }
.team {
  width: 100%; }
  .team .nosotros {
    display: none; }
  .team .caracteristicas {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-box-orient: vertical;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    flex-direction: column;
    background-color: #E5E6E9;
    padding: 3em 1.2em 1.2em 1.2em; }
    .team .caracteristicas p {
      font-size: 10px; }
    .team .caracteristicas article {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      width: 100%; }
      .team .caracteristicas article img {
        width: 50px;
        height: 45px;
        padding: 1em; }
      .team .caracteristicas article div {
        margin: .6em 0 0 10%; }
        .team .caracteristicas article div h2 {
          font-size: 12px;
          line-height: 1em; }
    .team .caracteristicas .legal img {
      width: 50px;
      height: 50px;
      padding: 1em; }
    .team .caracteristicas .legal .especialdiv {
      width: 70%; }
      .team .caracteristicas .legal .especialdiv h2 {
        font-size: 12px; }
    .team .caracteristicas .rapidez div {
      width: 70%; }
      .team .caracteristicas .rapidez div h2 {
        font-size: 12px;
        margin-top: 0; }
    .team .caracteristicas .precio div, .team .caracteristicas .seguridad div, .team .caracteristicas .calidad div {
      width: 70%; }
      .team .caracteristicas .precio div h2, .team .caracteristicas .seguridad div h2, .team .caracteristicas .calidad div h2 {
        font-size: 12px;
        margin-top: 0;
        margin-bottom: 0; }

@media only screen and (min-width: 600px) {
  .team {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    width: 100%;
    background-color: #E5E6E9; }
    .team .caracteristicas {
      width: 70%;
      border-right: 1px solid #b0afaf; }
      .team .caracteristicas article img {
        width: 60px;
        height: 60px;
        margin: 1em 0; }
      .team .caracteristicas p {
        font-size: 10px; }
      .team .caracteristicas h2 {
        font-size: 14px;
        line-height: 1em; }
      .team .caracteristicas .legal img {
        width: 60px;
        height: 60px;
        padding: 1em; }
      .team .caracteristicas .legal .especialdiv {
        width: 70%; }
        .team .caracteristicas .legal .especialdiv h2 {
          font-size: 14px; }
    .team .nosotros {
      display: block;
      width: 80%;
      margin: 7em 5% 0 3%;
      height: 35em; }
      .team .nosotros article h5 {
        margin-left: 5%;
        font-size: 40px;
        font-weight: 800; }
        .team .nosotros article h5 span {
          font-weight: 300; }
      .team .nosotros article p {
        margin-left: 5%;
        margin-top: -2em;
        font-size: 12px;
        line-height: 1.5em; } }
@media only screen and (min-width: 1024px) {
  .team .caracteristicas p {
    font-size: 12px; }
  .team .caracteristicas .legal .especialdiv h2 {
    font-size: 16px; }
  .team .caracteristicas .rapidez div h2 {
    font-size: 16px; }
  .team .caracteristicas .precio div h2, .team .caracteristicas .seguridad div h2, .team .caracteristicas .calidad div h2 {
    font-size: 16px; }
  .team .nosotros {
    margin: 4em 5% 0 3%; }
    .team .nosotros article h5 {
      font-size: 55px; }
    .team .nosotros article p {
      margin-top: -4em;
      font-size: 14px;
      width: 80%; } }
@media only screen and (min-width: 1280px) {
  .team .caracteristicas {
    margin-left: 8%; }
    .team .caracteristicas p {
      font-size: 14px; }
    .team .caracteristicas .legal .especialdiv h2 {
      font-size: 18px; }
    .team .caracteristicas .rapidez div h2 {
      font-size: 18px; }
    .team .caracteristicas .precio div h2, .team .caracteristicas .seguridad div h2, .team .caracteristicas .calidad div h2 {
      font-size: 18px; }
  .team .nosotros {
    margin: 2em 5% 0 3%; }
    .team .nosotros article h5 {
      font-size: 65px; }
    .team .nosotros article p {
      margin-top: -5em;
      font-size: 14px; } }
.logosinstalacion {
  width: 90%;
  margin: 0 5%; }
  .logosinstalacion h1 {
    width: 60%;
    margin: 1.5em auto 0;
    font-weight: 300;
    text-align: left;
    font-size: 16px;
    line-height: 20px; }
    .logosinstalacion h1 span {
      font-weight: 800;
      font-size: 22px; }
  .logosinstalacion .logosempresas img {
    width: 25%;
    text-align: center;
    margin: 1em 1% 1.5em 5%; }

.logosmarcas {
  display: none; }

@media only screen and (min-width: 600px) {
  .logosinstalacion {
    width: 90%;
    margin-left: 5%; }
    .logosinstalacion h1 {
      text-align: left;
      font-size: 20px;
      margin: 2em 0 1em 10%; }
      .logosinstalacion h1 span {
        font-size: 30px; }
    .logosinstalacion div {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      margin-bottom: 2em; }
      .logosinstalacion div img {
        height: 70px; }

  .logosmarcas {
    display: block;
    width: 90%;
    margin-left: 5%; }
    .logosmarcas h2 {
      font-weight: 300;
      font-size: 20px;
      margin: 1em 0 1em 18%; }
      .logosmarcas h2 span {
        font-weight: 800; }
    .logosmarcas .marcas {
      display: -webkit-box;
      display: -moz-box;
      display: -ms-flexbox;
      display: -webkit-flex;
      display: flex;
      margin-bottom: 4em;
      margin-left: -5%; }
      .logosmarcas .marcas img {
        width: 50%;
        height: 30px;
        margin-left: 5%; } }
@media only screen and (min-width: 768px) {
  .logosinstalacion h1 {
    font-size: 25px; }
    .logosinstalacion h1 span {
      font-size: 50px; }

  .logosmarcas h2 {
    font-size: 26px;
    margin-left: 15%; }
  .logosmarcas .marcas {
    margin: 1em 0 4em -5%; } }
@media only screen and (min-width: 1024px) {
  .logosinstalacion h1 {
    font-size: 30px; }
    .logosinstalacion h1 span {
      font-size: 50px; }

  .logosmarcas {
    margin-top: 5em;
    width: 80%;
    margin-left: 10%; }
    .logosmarcas h2 {
      font-size: 30px; } }
@media only screen and (min-width: 1280px) {
  .logosinstalacion h1 {
    font-size: 40px; }
    .logosinstalacion h1 span {
      font-size: 60px; }

  .logosmarcas {
    margin-top: 5em;
    width: 80%;
    margin-left: 10%; }
    .logosmarcas h2 {
      font-size: 40px;
      margin: 0 0 1em 15%; }
    .logosmarcas .marcas {
      margin-bottom: 4em;
      margin-left: -5%; }
      .logosmarcas .marcas img {
        width: 20%;
        height: 50px;
        margin-left: 5%; } }
@media only screen and (min-width: 1400px) {
  .logosinstalacion h1 {
    font-size: 43px; }
    .logosinstalacion h1 span {
      font-size: 64px; }

  .logosmarcas {
    margin-top: 5em;
    margin-left: 10%; }
    .logosmarcas h2 {
      font-size: 40px;
      margin-left: 20%; } }
.contacto {
  background-color: #1F264A;
  color: #ffffff;
  height: auto;
  padding: 1em 5% 3em 5%; }
  .contacto .contactpregunta {
    margin-left: -1%; }
  .contacto .contactext {
    margin: -1.5em 0 2em 0;
    width: 90%; }

.izda {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  -o-box-orient: vertical;
  -webkit-box-orient: vertical;
  -moz-box-orient: vertical;
  flex-direction: column; }
  .izda article {
    width: 100%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex; }
  .izda img {
    width: 39px;
    height: 39px;
    margin-left: -12%;
    margin-top: .3em; }
  .izda .house {
    margin-top: -.7em; }
  .izda div {
    margin-left: 10%; }
  .izda p {
    font-size: 14px; }
  .izda a {
    color: #ffffff; }
  .izda .contactrow {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-box-orient: vertical;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    flex-direction: column;
    margin-bottom: 1em; }
    .izda .contactrow p {
      margin-top: -.8em; }

.dcha p {
  text-align: center; }
.dcha input, .dcha textarea {
  margin: 6px 8%;
  height: 42px;
  width: 80%; }
.dcha .submit {
  position: relative;
  left: 4.8%;
  height: 42px;
  width: 40%; }

@media only screen and (min-width: 600px) {
  .contacto {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex; }
    .contacto .contactext .contactpregunta {
      font-weight: 800;
      font-size: 18px; }
    .contacto .contactext p {
      font-size: 12px; }

  .izda {
    width: 60%;
    margin-top: 1.5em; }

  .dcha {
    width: 50%; }
    .dcha p {
      font-weight: 800;
      font-size: 18px; }
    .dcha .required_comentarios {
      height: 8em; } }
@media only screen and (min-width: 1024px) {
  .izda .contactrow {
    width: 70%;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    -webkit-box-orient: horizontal;
    -moz-box-orient: horizontal;
    -o-box-orient: horizontal;
    flex-direction: row;
    -webkit-justify-content: space-between;
    -ms-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-flex-pack: distribute;
    justify-content: space-between;
    -webkit-box-pack: justify;
    margin-bottom: -1em; }
    .izda .contactrow p {
      margin-top: -.2em; } }
@media only screen and (min-width: 1280px) {
  .contacto {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex; }
    .contacto .contactext .contactpregunta {
      font-weight: 800;
      font-size: 24px; }
    .contacto .contactext p {
      font-size: 12px; }

  .izda {
    margin-left: 10%; }

  .dcha {
    margin-right: 10%; }
    .dcha p {
      font-size: 24px; } }
footer {
  background-color: #E5E6E9; }
  footer .social {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-between;
    -ms-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-flex-pack: distribute;
    justify-content: space-between;
    -webkit-box-pack: justify;
    margin-left: 5%;
    padding-top: 1em; }
    footer .social .firma {
      width: 60%;
      font-size: 9px;
      text-align: center;
      margin-top: 1em; }
    footer .social .plus {
      margin-right: 5%; }

@media only screen and (min-width: 600px) {
  footer {
    background-color: #E5E6E9; }
    footer .social {
      width: 80%;
      padding-top: 1em; }
      footer .social .firma {
        margin-left: 10%;
        font-size: 9px; }
      footer .social .plus img {
        width: 30px;
        margin-left: 150%; }
    footer p {
      text-align: center;
      font-size: 12px; } }
/* ==========================================================================
   Helper classes
   ========================================================================== */
/*
 * Hide visually and from screen readers:
 * http://juicystudio.com/article/screen-readers-display-none.php
 */
.hidden {
  display: none !important;
  visibility: hidden; }

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px; }

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto; }

/*
 * Hide visually and from screen readers, but maintain layout
 */
.invisible {
  visibility: hidden; }

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */ }

.clearfix:after {
  clear: both; }

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */
@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */ }
@media print, (-o-min-device-pixel-ratio: 5 / 4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */ }
/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */
@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster:
       http://www.sanbeiji.com/archives/953 */
    box-shadow: none !important;
    text-shadow: none !important; }

  a,
  a:visited {
    text-decoration: underline; }

  a[href]:after {
    content: " (" attr(href) ")"; }

  abbr[title]:after {
    content: " (" attr(title) ")"; }

  /*
   * Don't show links that are fragment identifiers,
   * or use the `javascript:` pseudo protocol
   */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: ""; }

  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid; }

  /*
   * Printing Tables:
   * http://css-discuss.incutio.com/wiki/Printing_Tables
   */
  thead {
    display: table-header-group; }

  tr,
  img {
    page-break-inside: avoid; }

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3; }

  h2,
  h3 {
    page-break-after: avoid; } }
