@charset "UTF-8";
/*! HTML5 Boilerplate v5.0.0 | MIT License | http://h5bp.com/ */
/* What follows is the result of much research on cross-browser styling. Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal, Kroc Camen, and the H5BP dev community and team. */
/* ========================================================================== Base styles: opinionated defaults ========================================================================== */
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,800);
html { color: #222; font-size: 1em; line-height: 1.4; }

body { width: 100%; margin: 0; padding: 0; }

li, ol, ul a { list-style: none; }

a { text-decoration: none; }

/* Remove text-shadow in selection highlight: https://twitter.com/miketaylr/status/12228805301  These selection rule sets have to be separate. Customize the background color to match your design. */
::-moz-selection { background: #b3d4fc; text-shadow: none; }

::selection { background: #b3d4fc; text-shadow: none; }

/* A better looking default horizontal rule */
hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

/* Remove the gap between audio, canvas, iframes, images, videos and the bottom of their containers: https://github.com/h5bp/html5-boilerplate/issues/440 */
audio, canvas, iframe, img, svg, video { vertical-align: middle; }

/* Remove default fieldset styles. */
fieldset { border: 0; margin: 0; padding: 0; }

/* Allow only vertical resizing of textareas. */
textarea { resize: vertical; }

/* ========================================================================== Browser Upgrade Prompt ========================================================================== */
.browserupgrade { margin: 0.2em 0; background: #ccc; color: #000; padding: 0.2em 0; }

/* ========================================================================== Author's custom styles ========================================================================== */
/* Variables para los colores corporativos */
/* Variables para el uso de la tipografía */
/* Variables para los breakpoints */
body { font-family: "Open Sans", sans-serif; color: #1F264A; }

#org-content { max-width: 87em; margin: 0 auto; }

header .logo-a { display: inline-block; }
header .logo { display: inline-block; width: 55px; height: 75px; padding: .7em .7em 1.5em .7em; }

.menu-right .menu-nav, .menu-right .menu-contact { display: none; }
.menu-right .iconoMenu img { display: block; max-width: 40px; height: 40px; margin: -6em 0 3em 80%; }

#menu { display: none; margin: 2em 0 0; background: #1F264A; width: 100%; }
#menu ul { padding: 0; margin: 0; }
#menu ul li { line-height: 3em; text-align: center; border-bottom: 1px solid #ffffff; }
#menu ul li a { display: inline; color: #EEE; text-decoration: none; padding: 0.8em 0; }
#menu .instalaciones { color: #EEE; text-align: center; }
#menu .instalacionesList { display: none; }
#menu .instalacionesList li { background: #FFFFFF; line-height: 3em; text-align: center; border-bottom: 1px solid #1F264A; }
#menu .instalacionesList li a { display: inline; color: #1F264A; padding: 0.8em 0; }

@media only screen and (min-width: 37.5em) { header .logo { width: 73px; height: 101px; padding-top: 1em; }
  .menu-right { margin: -7em 0 0 30%; width: 70%; }
  .menu-right p { font-size: 14px; }
  .menu-right .iconoMenu { display: none; }
  .menu-right .menu-contact { display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */ display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */ display: -ms-flexbox; /* TWEENER - IE 10 */ display: -webkit-flex; /* NEW - Chrome */ display: flex; -webkit-justify-content: space-around; -ms-justify-content: space-around; -moz-justify-content: space-around; -ms-flex-pack: distribute; justify-content: space-around; -webkit-box-pack: justify; -webkit-box-pack: justify; /*android*/ -webkit-align-items: center; -ms-align-items: center; -moz-align-items: center; -ms-flex-align: center; align-items: center; width: 70%; margin-left: 25%; }
  .menu-right .menu-contact p { font-weight: 400; margin-left: -17%; }
  .menu-right .menu-contact a { display: none; }
  .menu-nav { display: -webkit-box !important; /* OLD - iOS 6-, Safari 3.1-6 */ display: -moz-box !important; /* OLD - Firefox 19- (buggy but mostly works) */ display: -ms-flexbox !important; /* TWEENER - IE 10 */ display: -webkit-flex !important; /* NEW - Chrome */ display: flex !important; -webkit-justify-content: space-around; -ms-justify-content: space-around; -moz-justify-content: space-around; -ms-flex-pack: distribute; justify-content: space-around; -webkit-box-pack: justify; /*android*/ width: 100%; background-color: #ffffff; margin: 0 0 0 -5%; }
  .menu-nav ul { display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */ display: -moz-box; /* OLD - Firefox 19- (buggy but mostly works) */ display: -ms-flexbox; /* TWEENER - IE 10 */ display: -webkit-flex; /* NEW - Chrome */ display: flex; -webkit-justify-content: space-around; -ms-justify-content: space-around; -moz-justify-content: space-around; -ms-flex-pack: distribute; justify-content: space-around; -webkit-box-pack: justify; /*android*/ width: 100%; margin: 0 0 0.5em 0; }
  .menu-nav ul li a { font-size: 16px; color: #1F264A; margin: 0; padding: 0; position: relative; }
  .menu-nav ul li li:hover { background-color: 3px solid #F59B23; -webkit-transition: width 1s; /* For Safari 3.1 to 6.0 */ transition: width 1s; }
  .menu-nav ul #phone-movil { display: none; } }
@media only screen and (min-width: 48em) { header .logo { width: 200px; height: 95px; }
  .menu-right { font-size: 19px; }
  .menu-right p { font-size: 25px; }
  .menu-right .menu-contact { margin-left: 26%; } }
@media only screen and (min-width: 56.25em) { header .logo { width: 250px; height: 120px; padding: 2em 0 0 10%; }
  .menu-right .menu-contact { margin-left: 30%; }
  .menu-right .menu-nav ul li a { font-size: 18px; } }
.menu-movil { width: 100%; height: 50px; border-bottom: 2px solid #1F264A; position: fixed; top: 0; left: 0; display: none; z-index: 999999; background-color: rgba(255, 255, 255, 0.9); }
.menu-movil .scroll-top-movil { width: 45px; height: 45px; position: fixed; top: 3px; right: 30px; }
.menu-movil .tel { position: fixed; top: 6px; left: 20px; text-align: center; background-color: #1F264A; color: #ffffff; padding: 0.5em; border-radius: 3px; }

@media only screen and (min-width: 37.5em) { .menu-movil { display: none !important; } }
.cover img { width: 100%; }
.cover .cover-text { width: 60%; text-align: center; font-size: 1em; position: absolute; top: 8em; left: 20%; color: #1F264A; font-weight: 600; line-height: 1.3em; }
.cover .cover-text span { font-weight: 800; font-size: 1.1em; }

@media only screen and (min-width: 37.5em) { .cover .cover-text { width: 65%; text-align: center; font-size: 1em; position: absolute; top: 16.8em; left: 18%; }
  .cover .cover-text span { font-size: 1.1em; }
  .cover .subcover-text { width: 65%; text-align: center; font-size: .6em; position: absolute; top: 33em; left: 18%; } }
@media only screen and (min-width: 48em) { .cover .cover-text { width: 65%; text-align: center; font-size: 1em; position: absolute; top: 50em; left: 18%; }
  .cover .cover-text span { font-size: 1.1em; }
  .cover .subcover-text { width: 65%; text-align: center; font-size: .6em; position: absolute; top: 33em; left: 18%; } }
@media only screen and (min-width: 56.25em) { .cover .cover-text { width: 65%; text-align: center; font-size: 1em; position: absolute; top: 16.8em; left: 18%; }
  .cover .cover-text span { font-size: 1.1em; }
  .cover .subcover-text { width: 65%; text-align: center; font-size: .6em; position: absolute; top: 33em; left: 18%; } }
@media only screen and (min-width: 87em) { .cover img { max-width: 100%; }
  .cover .cover-text { width: 25%; font-size: 1.5em; margin: -7em 0 4em 69%; line-height: 1.7em; } }
/* ========================================================================== Helper classes ========================================================================== */
/* Hide visually and from screen readers: http://juicystudio.com/article/screen-readers-display-none.php */
.hidden { display: none !important; visibility: hidden; }

/* Hide only visually, but have it available for screen readers: http://snook.ca/archives/html_and_css/hiding-content-for-accessibility */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }

/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: https://www.drupal.org/node/897638 */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

/* Hide visually and from screen readers, but maintain layout */
.invisible { visibility: hidden; }

/* Clearfix: contain floats  For modern browsers 1. The space content is one way to avoid an Opera bug when the `contenteditable` attribute is included anywhere else in the document. Otherwise it causes space to appear at the top and bottom of elements that receive the `clearfix` class. 2. The use of `table` rather than `block` is only necessary if using `:before` to contain the top-margins of child elements. */
.clearfix:before, .clearfix:after { content: " "; /* 1 */ display: table; /* 2 */ }

.clearfix:after { clear: both; }

/* ========================================================================== EXAMPLE Media Queries for Responsive Design. These examples override the primary ('mobile first') styles. Modify as content requires. ========================================================================== */
@media only screen and (min-width: 35em) { /* Style adjustments for viewports that meet the condition */ }
@media print, (-o-min-device-pixel-ratio: 5 / 4), (-webkit-min-device-pixel-ratio: 1.25), (min-resolution: 120dpi) { /* Style adjustments for high resolution devices */ }
/* ========================================================================== Print styles. Inlined to avoid the additional HTTP request: http://www.phpied.com/delay-loading-your-print-css/ ========================================================================== */
@media print { *, *:before, *:after { background: transparent !important; color: #000 !important; /* Black prints faster: http://www.sanbeiji.com/archives/953 */ box-shadow: none !important; text-shadow: none !important; }
  a, a:visited { text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  /* Don't show links that are fragment identifiers, or use the `javascript:` pseudo protocol */
  a[href^="#"]:after, a[href^="javascript:"]:after { content: ""; }
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  /* Printing Tables: http://css-discuss.incutio.com/wiki/Printing_Tables */
  thead { display: table-header-group; }
  tr, img { page-break-inside: avoid; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3 { page-break-after: avoid; } }
