@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,800);
@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700);
@import 'breakpoints.scss';
@import 'tipografia.scss';
@import 'colores.scss';
.heroAire
{
    .aireIzda
    {
        display: none;
    }
    .aireDcha
    {
        background-color:#C6E0F3;
        text-align: center;
        padding:3em 2em;
        p
        {
        font-weight: $titular;
        }
        span
        {
         color:rgb(114,171,219);
         font-weight: $texto;
        }
        .aireSubclaim
        {
        font-weight: $texto;
        font-size: 9px;
        width: 90%;
        margin-left: 5%;
        margin-bottom: 7em;
        }
    }
}
.serviciosAire
{
    width: 70%;
    margin-left: 25%;
    div 
    {
        margin:3em 10%;
        display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
        display: -moz-box;    /* OLD - Firefox 19- (buggy but mostly works) */
        display: -ms-flexbox;     /* TWEENER - IE 10 */
        display: -webkit-flex;    /* NEW - Chrome */
        display: flex;
         -webkit-box-pack: justify;
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        -o-box-orient: vertical;
        -webkit-box-orient: vertical;
        -moz-box-orient: vertical;
        flex-direction: column;
        img 
        {
           width: 60%;
            margin-bottom: 1em;         
        }
    }
    .logosAire 
    {
        margin-left: 20%;
        img 
        {
           width: 40%; 
        }
        
    }
}
.textAire
{
    width: 90%;
    margin-left: 5%;
    font-weight:$texto;
    text-align: center;
    font-size: 10px;
    margin-bottom: 3em;
    span 
    {
        color:rgb(106,161,215)
    }
}
@media only screen and (min-width: $bp2){
    .heroAire
    {
        .aireIzda
        { 
            display: block;      
            img 
            {
                width: 100%;
            }
        }
        .aireDcha
        {
             padding:3em 0 2em 0;           
            p
            {
                font-size: 14px;
                width: 90%;
                margin-left: 5%;
            }     
        }
    }
    .serviciosAire
    {
        div
        {
            -webkit-flex-direction: row;
            -moz-flex-direction: row;
            -ms-flex-direction:row;
            -webkit-box-orient: horizontal;
            -moz-box-orient: horizontal;
            -o-box-orient: horizontal;
            flex-direction: row;
            -webkit-box-orient: vertical;
            -webkit-flex-wrap:wrap;
            -ms-flex-wrap:wrap;
            -moz-flex-wrap:wrap;
            flex-wrap: wrap;
            margin-left: -14%;
            img 
            {
                width: 30%;
                height: 30%;
                padding: 0 0.3em;
            }        
        }
        .logosAire
        {
            -webkit-flex-direction: row;
            -moz-flex-direction: row;
            -ms-flex-direction:row;
            -webkit-box-orient: horizontal;
            -moz-box-orient: horizontal;
            -o-box-orient: horizontal;
            flex-direction: row;
            -webkit-box-orient: vertical;
            -webkit-flex-wrap:wrap;
            -ms-flex-wrap:wrap;
            -moz-flex-wrap:wrap;
            flex-wrap: wrap;
            margin-left: -20%;
            img 
            {
                width: 20%;
                margin-left: 2%;
            }
        }
    }
}
@media only screen and (min-width: $bp3){
    .heroAire
    {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        .aireIzda
        {
            width: 50%;
            webkit-order:1;
            order:1; 
            img 
            {
                height: 300px;
            }
        }
        .aireDcha
        {
           width: 50%; 
           padding: 4em 0 0;
            p
            {
                font-size: 12px;
                width: 95%;
                margin-left: 2.5%;
                margin-top: 5em;
            }
            .aireSubclaim
            {
                width: 80%;
                margin-left: 10%;
                font-size: 10px;
                margin-top: -.5em;
                margin-bottom: 9em;
            }        
        }
    }
    .textAire
    {
        font-size: 12px;
        margin-bottom: 3em;
    }
}
@media only screen and (min-width: $bp4){
    .heroAire
    {
        height: 400px;
        .aireIzda
        {
            img 
            {
                height: 400px;
            }
        }
        .aireDcha
        {
            padding: 7em 0 0;
            p
            {
                padding-top:1em;
                font-size: 14px;
                width: 100%;
                margin-left: 0%;
            }
            .calefaccionSubclaim
            {            
                font-size: 10px;
                margin-top: -2em;
                margin-bottom: 11em;
            }        
        }
    }
    .serviciosAire
    {
        margin-left: 30%;        
        div 
        {        
            img 
            {
                width: 25%;
                margin-bottom: 1em;
                padding: 0 0.6em;
            }
        }
        .logosAire 
        {
            margin-left: -9%;
            img 
            {
               width: 14%; 
            }        
        }
    }
  .textAire
    {
        font-size: 12px;
        margin-bottom: 3em;
    }  
}
@media only screen and (min-width: $bp5){
    .heroAire
    {
        .aireDcha
        {
            p
            {
                font-size: 16px;
                width: 90%;
                margin-left: 5%;
            }
            span
            {
                font-size: 18px;
            }
        }
    }
    .textAire
    {
        width: 100%;
        margin-left: 0;
        font-size: 16px;
    }
}