/*Estilo de la pagina de calefaccion*/
@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,800);
@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700);
@import 'breakpoints.scss';
@import 'tipografia.scss';
@import 'colores.scss';

.wrapperInterior
{
    max-width: $ancho_max; 
    margin: 0 auto; 
}
header
{
    max-width: 3000px;
}
.heroCalefaccion
{
  
    text-aline:center;
    .calefaccionIzda
    {
        display: none;
    }
    .calefaccionDcha
    {
        background-color:#C6E0F3;
        text-align: center;
        padding:3em 2em;
        h1 
        {
        font-weight: $titular;
            span
            {
             color:rgb(114,171,219);
             font-weight: $texto;
            } 
        }           
        .calefaccionSubclaim
        {
            font-weight: $texto;
            font-size: 9px;
            width: 70%;
            margin-left: 15%;
            margin-bottom: 7em;
        }
        .marcas 
        {
            img 
            {
                width: 20%;
                margin-left: 1%;
            }
        }
    }
}
@media only screen and (min-width: $bp2){
    .heroCalefaccion
    {   
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex; 
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        -o-box-orient: vertical;
        -webkit-box-orient: vertical;
        -moz-box-orient: vertical;
        flex-direction: column;
        -webkit-justify-content: space-around;
        -ms-justify-content: space-around;
        -moz-justify-content: space-around;
        -ms-flex-pack: distribute;
        justify-content: space-around;
        -webkit-box-pack: justify;
        .calefaccionIzda
        {
            display: block;
            webkit-order:-1;
            order:-1;        
            img 
            {
                width: 100%;
                height: 300px;
            }
        }
        .calefaccionDcha
        {
            padding:2em 0;           
            h1
            {
                font-size: 11px;
                width: 70%;
                margin-left: 15%;
                span 
                {
                  font-size: 12px;  
                }
            }
            .marcas 
            {
                img 
                {
                    width: 15%;
                    margin-left: 2%;
                }
            }             
        }
    }
}
@media only screen and (min-width: $bp3){
    .heroCalefaccion
    {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex; 
        -webkit-flex-direction: row;
        -moz-flex-direction: row;
        -ms-flex-direction: row;
        -webkit-box-orient: horizontal;
        -moz-box-orient: horizontal;
        -o-box-orient: horizontal;
        flex-direction: row;   
       .calefaccionIzda
        {
            webkit-order:1;
            order:1; 
            width: 50%;
            img 
            {
                height: 400px;
            }
        }
        .calefaccionDcha
        {
            width: 50%;           
            h1
            {
                font-size: 12px;
                width: 90%;
                margin-left: 5%;
                margin-top: 5em;
                span
                {
                    font-size: 14px;
                }
            }
            .calefaccionSubclaim
            {               
                font-size: 10px;
                margin-top: -.5em;
                margin-bottom: 9em;
            }        
        }
    }
}
@media only screen and (min-width: $bp4){
    .heroCalefaccion
    {
        height: 400px;
        .calefaccionIzda
        {
            img 
            {
                height: 400px;
            }
        }
        .calefaccionDcha
        {     
            h1
            {
                font-size: 14px;
                width: 100%;
                margin-left: 0%;
                span
                {
                    font-size: 16px;
                }
            }
            .calefaccionSubclaim
            {            
                font-size: 10px;
                margin-top: -1em;
                margin-bottom: 11em;
            }        
        }
    }
}
@media only screen and (min-width: $bp5){
    .heroCalefaccion
    {
        margin: 0 auto;
        height: 400px;        
        .calefaccionDcha
        {      
            h1
            {            
                font-size: 16px;
                width: 85%;
                margin-left: 7%;
            }
            span
            {
                font-size: 18px;
            }
            .marcas 
            {
                img 
                {
                    width: 15%;
                    margin-top:-5em;
                }
            }    
        }
    }
}
@media only screen and (min-width: $bp6){
    .heroCalefaccion
    {
        .calefaccionDcha
        {                
            h1
            {
                font-size: 18px;
            }
            .calefaccionSubclaim
            {            
                font-size: 12px;
                margin-bottom: 5em;
            }
            .marcas 
            {
                img 
                {
                    width: 15%;
                    margin-top:-1em;
                }
            }    
        }
    }
}
.serviciosCalefaccion
{
    width: 80%;
    margin:10%;
    display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;    /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;     /* TWEENER - IE 10 */
    display: -webkit-flex;    /* NEW - Chrome */
    display: flex;
    -webkit-flex-wrap:wrap;
    -ms-flex-wrap:wrap;
    -moz-flex-wrap:wrap;
    flex-wrap: wrap;
    -webkit-justify-content: space-between;
    -ms-justify-content: space-between;
    -moz-justify-content: space-between;
    -ms-flex-pack: distribute;
    justify-content: space-between;
    -webkit-box-pack: justify;
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-box-orient: vertical;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;
    flex-direction: column;
    div 
    {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        text-align: center;
        img 
        {
            width:50px;
            height:50px;
            margin-bottom: 1em;         
        }
        h2 
        {
            font-size: 9px;
            margin-left: 5%;
            margin-top: .8em;
            width: 60%;
        }    
    }
}
.textCalefaccion
{
    width: 90%;
    margin-left: 5%;
    font-weight:$texto;
    text-align: center;
    font-size: 12px;
    margin-bottom: 3em;
    span 
    {
        color:rgb(106,161,215)
    }
}
@media only screen and (min-width: $bp2){
    .serviciosCalefaccion
    {
            -webkit-flex-direction: row;
            -moz-flex-direction: row;
            -ms-flex-direction:row;
            -webkit-box-orient: horizontal;
            -moz-box-orient: horizontal;
            -o-box-orient: horizontal;
            flex-direction: row;
            -webkit-box-orient: vertical;
            margin-left: 3%;
        div
        {
            -webkit-flex-direction: column;
            -moz-flex-direction: column;
            -ms-flex-direction:column;
            -webkit-box-orient: vertical;
            -moz-box-orient: vertical;
            -o-box-orient: vertical;
            flex-direction: column;
            width: 21%;
            margin-left: 5%;
            h2
            {
                width: 150%;
                font-size: 10px;
                margin-bottom: 2em;
            }
            img 
            {
                margin-bottom: .5em;
                margin-left: 55%;
            }
        }
    }
}
@media only screen and (min-width: $bp3){
    .serviciosCalefaccion
    {
        margin-top: 3em;
        margin-left: 5%;        
        div
        {          
            width: 21%;
            img 
            {
                margin-left: 60%;
            }
        }
    }
    .textCalefaccion
    {
        font-size: 12px;
        margin-bottom: 3em;
    }
}
@media only screen and (min-width: $bp4){
    .serviciosCalefaccion
    {         
        div
        {          
            width: 1%;
            img 
            {
                margin-left: -50%;
            }
            h2
            {              
                width: 1800%;
                margin-left: -600%;
            }
        }
    }
}
@media only screen and (min-width: $bp5){
    .textCalefaccion
    {
        font-size: 15px;
        margin-top: -5em;
    }
}