/*Estilo de la pagina de gas*/

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,800);
@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700);
@import 'breakpoints.scss';
@import 'tipografia.scss';
@import 'colores.scss';

.heroFontaneria
{
    width: 100%;
    .fontaneriaIzda
    {
        display: none;
    }
    .fontaneriaDcha
    {
        background-color:#C6E0F3;
        text-align: center;
        padding:3em 2em;
        p
        {
            font-weight: $titular;
        }
        span
        {
            color:rgb(114,171,219);
            font-weight: $texto;
        }
        .fontaneriaSubclaim
        {
            font-weight: $texto;
            font-size: 9px;
            width: 70%;
            margin-left: 15%;
            margin-bottom: 7em;
        }
        .marcasFontaneria
        {
            img
            {
                width: 20%;
                margin-left: 2%;
            }
        }
    }
}
@media only screen and (min-width: $bp2){
 .heroFontaneria
    {
        .fontaneriaIzda
        {
            display: block;       
            img 
            {
                width: 100%;
                height: 400px;
            }
        }
        .fontaneriaDcha
        {
            padding:2em 0;           
            p
            {
                font-size: 11px;
                width: 70%;
                margin-left: 15%;
                span 
                {
                  font-size: 12px;  
                }
            }
            .marcasFontaneria 
            {
                img 
                {
                    width: 10%;
                    margin-left: 2%;
                }
            }             
        }
    }
}
@media only screen and (min-width: $bp3){
    .heroFontaneria
    {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;    
       .fontaneriaIzda
        {
            width: 50%;
            img 
            {
                height: 380px;
            }
        }
        .fontaneriaDcha
        {
            width: 50%;           
            p
            {
                font-size: 12px;
                width: 90%;
                margin-left: 5%;
                margin-top: 5em;
                span
                {
                    font-size: 14px;
                }
             }
            .marcasFontaneria 
            {
                img 
                {
                    width: 15%;
                }
            }    
           
            .fontaneriaSubclaim
            {               
                font-size: 10px;
                margin-top: -.5em;
                margin-bottom: 9em;
            }        
        }
    }
}
@media only screen and (min-width: $bp4){
    .heroFontaneria
    {
        height: 400px;
        .fontaneriaIzda
        {
            img 
            {
                height: 400px;
            }
        }
        .fontaneriaDcha
        {
            p
            {
                font-size: 14px;
                width: 100%;
                margin-left: 0%;
                span
                {
                    font-size: 16px;
                }
            }
            .fontaneriaSubclaim
            {            
                font-size: 10px;
                margin-top: -1em;
                margin-bottom: 11em;
            }        
        }
    }
}
@media only screen and (min-width: $bp5){
    .heroFontaneria
    {
        height: 500px;
        .fontaneriaIzda
        {
            img
            {
                height: 500px;
            }
        }
        .fontaneriaDcha
        {      
            p
            {            
                font-size: 16px;
                width: 90%;
                margin-left: 5%;
            }
            span
            {
                font-size: 18px;
            }
            .marcasFontaneria 
            {
                img 
                {
                    margin-top: 2em;
                    width: 12%;
                }
            }    
        }
    }
}
@media only screen and (min-width: $bp6){
    .heroFontaneria
    {
        height: 600px;
        .fontaneriaIzda
        {
            img
            {
                height: 600px;
            }
        }
        .fontaneriaDcha
        {                
            p
            {
                margin-top: 8em;
                font-size: 18px;
            }
            .fontaneriaSubclaim
            {            
                font-size: 12px;
                margin-bottom: 5em;
            }
            .marcasFontaneria 
            {
                img 
                {
                    margin-top: 10em;
                    width: 12%;
                }
            }            
        }
    }
}
.especialist
{
    font-weight: $texto;
    width: 90%;
    text-align: center;
    margin:2em 0 3em 5%;
    font-size: 14px;
    span
    {
        color:rgb(114,171,219);
        font-weight: $titular;
    } 
}
.fontaneriaServicios
{ 
    ul
    {  
        li 
        {
            font-size: 11px;
            margin-left: 10%;
            margin-bottom: 1.1em;
            margin-top: 1em;            
            position: relative;
        }
        li:before
        {
            padding:6px;
            padding-left:5px;
            padding-right:6px;           
            background-color: rgb(104,159,214);
            border-radius: 10px 10px 10px 10px;
            content: "";
            color:#000;
            position: absolute;
            top:-.001em;
            left: -12%;
        }
    }   
}
.textInferior
{
    width: 90%;
    margin: 3em auto;
    font-weight:$texto;
    text-align: center;
    font-size: 12px;
    span
    {
        font-weight:$titular;
        color:rgb(106,161,215)
    }
}
@media only screen and (min-width: $bp2){
    .fontaneriaServicios
    {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        width: 90%;
        margin: 0 auto;
        .serviciosUp
        {
            width: 50%;
            ul
            {
                width: 90%;
            }
        }
        .serviciosDown
        {
            width: 50%;
            ul
            {
                width: 90%;
            }
        }
    }
}
@media only screen and (min-width: $bp5){
    .fontaneriaServicios
    {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        -o-box-orient: vertical;
        -webkit-box-orient: vertical;
        -moz-box-orient: vertical;
        flex-direction: column;
        width: 90%;
        margin: 0 auto;
        .serviciosUp
        {
            display: -webkit-box;
            display: -moz-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            -webkit-flex-direction: row;
            -moz-flex-direction: row;
            -ms-flex-direction: row;
            -o-box-orient: horizontal;
            -webkit-box-orient: horizontal;
            -moz-box-orient: horizontal;
            flex-direction: row;
            width: 100%;
            border-bottom: 4px dotted $blue;
            ul
            {
                display: -webkit-box;
                display: -moz-box;
                display: -ms-flexbox;
                display: -webkit-flex;
                display: flex;
                -webkit-flex-direction: row;
                -moz-flex-direction: row;
                -ms-flex-direction: row;
                -o-box-orient: horizontal;
                -webkit-box-orient: horizontal;
                -moz-box-orient: horizontal;
                flex-direction: row;
                width: 100%;
                padding-left: 13%;
                li
                {
                    width: 19%;
                    padding: 0 2%;
                    margin: 0;
                    font-size: 12px;
                }
                li:before
                {
                    padding:6px;
                    padding-left:5px;
                    padding-right:6px;
                    background-color: rgb(104,159,214);
                    border-radius: 10px 10px 10px 10px;
                    content: "";
                    color:#000;
                    position: absolute;
                    top: 5em;
                    left: 28%;
                }
            }
        }
        .serviciosDown
        {
            display: -webkit-box;
            display: -moz-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            -webkit-flex-direction: row;
            -moz-flex-direction: row;
            -ms-flex-direction: row;
            -o-box-orient: horizontal;
            -webkit-box-orient: horizontal;
            -moz-box-orient: horizontal;
            flex-direction: row;
            width: 100%;
            ul
            {
                display: -webkit-box;
                display: -moz-box;
                display: -ms-flexbox;
                display: -webkit-flex;
                display: flex;
                -webkit-flex-direction: row;
                -moz-flex-direction: row;
                -ms-flex-direction: row;
                -o-box-orient: horizontal;
                -webkit-box-orient: horizontal;
                -moz-box-orient: horizontal;
                flex-direction: row;
                width: 100%;
                li
                {
                    width: 20%;
                    padding: 0 3%;
                    margin: 0;
                    font-size: 12px;
                }
                li:before
        {
            padding:6px;
            padding-left:5px;
            padding-right:6px;
            background-color: rgb(104,159,214);
            border-radius: 10px 10px 10px 10px;
            content: "";
            color:#000;
            position: absolute;
            top:-1.95em;
            left: 30%;
        }
            }
        }
    }
    .especialist
    {
        font-size: 18px;
    }
    .textInferior
    {
        font-size: 15px;
    }
}