/*Estilo de la pagina de eficiencia energetica*/

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,800);
@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700);
@import 'breakpoints.scss';
@import 'tipografia.scss';
@import 'colores.scss';


.formacionTextWrapper
{
    width: 90%;
    margin: 0 5%;
    .formacionTittle
    {
        font-size: 15px;
        text-align: center;
        margin: 2.5em 0;
    }
    .formacionText
    {
        font-weight: $texto;
        font-size:12px;
        line-height: 20px;
        .quest
        {
            font-size: 14px;
            font-weight: $titular;
            line-height: 34px;
        }
    }
}
@media only screen and (min-width: $bp3){
    .formacionTextWrapper
    {
        .formacionTittle
        {
            font-size: 17px;
        }
        .formacionText
        {
            font-size: 14px;
            line-height: 24px;
            .quest
            {
                font-size: 16px;
                line-height: 38px;
            }
        }
    }
}
@media only screen and (min-width: $bp6){
    .formacionTextWrapper
    {
        .formacionTittle
        {
            font-size: 20px;
        }
        .formacionText
        {
            font-size: 16px;
            line-height: 26px;
            .quest
            {
                font-size: 18px;
                line-height: 42px;
            }
        }
    }
}
.formacionServicios
{
    width: 90%;
    margin: 0 5%;
    .formacionList
    {
        .formacionText
        {
            font-size: 12px;
            font-weight: $texto !important;
            line-height: 20px;
            .quest
            {
                font-size: 14px;
                font-weight: $titular;
                line-height: 34px;
            }
        }
        .listUp
        {
            display: -webkit-box;
            display: -moz-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            -webkit-flex-direction: column;
            -moz-flex-direction: column;
            -ms-flex-direction: column;
            -o-box-orient: vertical;
            -webkit-box-orient: vertical;
            -moz-box-orient: vertical;
            flex-direction: column;
            .indicate
            {
                display: -webkit-box;
                display: -moz-box;
                display: -ms-flexbox;
                display: -webkit-flex;
                display: flex;
                -webkit-flex-direction: row;
                -moz-flex-direction: row;
                -ms-flex-direction: row;
                -o-box-orient: horizontal;
                -webkit-box-orient: horizontal;
                -moz-box-orient: horizontal;
                flex-direction: row;
                margin: 0.8em 0;
                h2
                {
                    font-weight: $lighttitular;
                    font-size: 12px;
                    width: 70%;
                    margin-left: 10%;
                }
                img
                {
                    height: 60px;
                    width: 60px;
                }
            }
            .tools
            {
                display: -webkit-box;
                display: -moz-box;
                display: -ms-flexbox;
                display: -webkit-flex;
                display: flex;
                -webkit-flex-direction: row;
                -moz-flex-direction: row;
                -ms-flex-direction: row;
                -o-box-orient: horizontal;
                -webkit-box-orient: horizontal;
                -moz-box-orient: horizontal;
                flex-direction: row;
                margin: 0.8em 0;
                h2
                {
                    font-weight: $lighttitular;
                    font-size: 12px;
                    margin-left: 10%;
                    width: 70%;
                }
            }
            img
            {
                height: 60px;
                width: 60px;
            }
        }
        .listDown
        {
            display: -webkit-box;
            display: -moz-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            -webkit-flex-direction: column;
            -moz-flex-direction: column;
            -ms-flex-direction: column;
            -o-box-orient: vertical;
            -webkit-box-orient: vertical;
            -moz-box-orient: vertical;
            flex-direction: column;
            .materials
            {
                display: -webkit-box;
                display: -moz-box;
                display: -ms-flexbox;
                display: -webkit-flex;
                display: flex;
                -webkit-flex-direction: row;
                -moz-flex-direction: row;
                -ms-flex-direction: row;
                -o-box-orient: horizontal;
                -webkit-box-orient: horizontal;
                -moz-box-orient: horizontal;
                flex-direction: row;
                margin: 0.8em 0;
                h2
                {
                    font-weight: $lighttitular;
                    font-size: 12px;
                    margin-left: 10%;
                    width: 70%;
                }
                img
                {
                    height: 60px;
                    width: 60px;
                }
            }
            .route
            {
                display: -webkit-box;
                display: -moz-box;
                display: -ms-flexbox;
                display: -webkit-flex;
                display: flex;
                -webkit-flex-direction: row;
                -moz-flex-direction: row;
                -ms-flex-direction: row;
                -o-box-orient: horizontal;
                -webkit-box-orient: horizontal;
                -moz-box-orient: horizontal;
                flex-direction: row;
                margin: 0.8em 0;
                h2
                {
                    font-weight: $lighttitular;
                    font-size: 12px;
                    margin-left: 10%;
                    width: 70%;
                }
                img
                {
                    height: 60px;
                    width: 60px;
                }
            }
        }
    }
}
@media only screen and (min-width: $bp3){
    .formacionServicios
    {
        .formacionList
        {
            .formacionText
            {
                font-size: 14px;
                line-height: 24px;
                .quest
                {
                    font-size: 16px;
                    line-height: 38px;
                }
            }
            .listUp
            {
                display: -webkit-box;
                display: -moz-box;
                display: -ms-flexbox;
                display: -webkit-flex;
                display: flex;
                -webkit-flex-direction: row;
                -moz-flex-direction: row;
                -ms-flex-direction: row;
                -o-box-orient: horizontal;
                -webkit-box-orient: horizontal;
                -moz-box-orient: horizontal;
                flex-direction: row;
                .indicate
                {
                    h2
                    {
                        margin-left: 5%;
                        margin-right: 5%;
                    }
                }
                .tools
                {
                    margin-left: 5%;
                    h2
                    {
                        margin-left: 5%;
                    }
                }
            }
            .listDown
            {
                display: -webkit-box;
                display: -moz-box;
                display: -ms-flexbox;
                display: -webkit-flex;
                display: flex;
                -webkit-flex-direction: row;
                -moz-flex-direction: row;
                -ms-flex-direction: row;
                -o-box-orient: horizontal;
                -webkit-box-orient: horizontal;
                -moz-box-orient: horizontal;
                flex-direction: row;
                margin-top: 2em;
                .materials
                {
                    h2
                    {
                        margin-left: 5%;
                        margin-right: 5%;
                    }
                }
                .route
                {
                    margin-left: 5%;
                    h2
                    {
                        margin-left: 5%;
                    }
                }
            }
        }
    }
}
@media only screen and (min-width: $bp6){
    .formacionServicios
    {
        .formacionList
        {
            .formacionText
            {
                font-size: 16px;
                line-height: 26px;
                .quest
                {
                    font-size: 18px;
                    line-height: 42px;
                }
            }
            .listUp
            {
                .tools
                {
                    margin-left: 18%;
                    h2
                    {
                        margin-left: 5%;
                    }
                }
            }
            .listDown
            {
                .route
                {
                    margin-left: 15%;
                }
            }
        }
    }
}
.textFormacion
{
    width: 90%;
    font-weight: $texto;
    font-size: 12px;
    margin: 2.5em 5%;
    font-style: italic;
    line-height: 20px;
}
@media only screen and (min-width: $bp3){
    .textFormacion
    {
        font-size: 14px;
        line-height: 24px;
    }
}
@media only screen and (min-width: $bp6){
    .textFormacion
    {
        font-size: 16px;
        line-height: 26px;
    }
}