/*! HTML5 Boilerplate v5.0.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html
{
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}
body
{
    width: 100%;
    margin: 0;
    padding:0;
}
li, ol, ul a
{
    list-style: none;
}
a
{
    text-decoration: none;
    font-style: none;
}
/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr 
{
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video 
{
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset 
{
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea 
{
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade 
{
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,800);
@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700);
@import 'breakpoints.scss';
@import 'tipografia.scss';
@import 'colores.scss';

html{

}
body
{
    font-family: $tipografia;
    color: $darkpurple;
}
#org-content
{
    max-width: 1400px;
    margin: 0 auto;
}

.instalaciones, .especialistas-wrapper
{
    display: none;
}
// @media only screen and (min-width: $bp5) {
//     #org-content
//     {
//        background-color: rgb(255,255,255);
//     }
//     body
//     {
//         background-color: rgb(228,229,232);
//     }
// }
header
{
    .logo-a
    {
        display: inline-block;
    }
    .logo
    {
        display: inline-block;
        width: 55px;
        height: 75px;
        padding: .7em .7em 1.5em .7em;
    }
}
@media only screen and (min-width: $bp2){
    header
    {
        .logo
        {
            width: 73px;
            height: 101px;
            padding:1.5em;

        }
    }
}
.menu-right
{
    .menu-nav, .menu-contact
    {
        display: none;
    }
    .iconoMenu
    {
        img
        {
        display: block;
        max-width: 30px;
        height: 30px;
        margin:  -5.5em 0 3em 80%;
        }
    }
}
@media only screen and (min-width: $bp2){
    .menu-right
    {
        margin: -7em 0 3em 35%;
        width: 60%;
        text-align: center;
        p
        {
        font-size: 14px;
        }
        .iconoMenu
        {
            display: none;
        }
        .menu-contact
        {
            display: -webkit-box; 
            display: -moz-box;     
            display: -ms-flexbox;     
            display: -webkit-flex;    
            display: flex;
            -webkit-flex-direction: column;   
            -moz-flex-direction: column;
            -ms-flex-direction: column;
            -o-box-orient: vertical;
            -webkit-box-orient: vertical;
            -moz-box-orient: vertical;
            flex-direction: column;
            width:100%;
            p
            {
                font-weight: $titular;
                margin-left: 20%;
            }
            a
            {
                display: none;
            }
            .telcontact
            {
                margin-top: -.8em;
                font-size: 16px;
                font-weight: $texto;
            }
            .mail 
            {
                font-size: 13px;
                margin-left: 1.5em;
            }
        }
    }
}
@media only screen and (min-width: $bp4){
.menu-right{
    .menu-contact
        {
            margin-top: -.7em;

            p
            {
                font-size:20px;
                margin-left: 20%;
            }
            .telcontact
            {
                margin-top: -1em;
                margin-bottom: -1em;
                font-size:25px;
                font-weight: $texto;
            }
            .mail 
            {
                font-size: 18px;
                margin-left: 1.5em;
            }
        }
}
}
#menu
{
    display: none;
    margin: 2em 0 0;
    background: $darkpurple;
    width: 100%;
    ul
    {
        padding: 0;
        margin: 0;
        li
        {
            line-height: 3em;
            text-align: center;
            border-bottom: 1px solid #ffffff;
            a
            {
                display: inline;
                color: #EEE;
                text-decoration: none;
                padding: 0.8em 0;
            }
        }
    }
    .instalaciones
    {
        color: #EEE;
        text-align: center;
    }
    .selected
    {
        background: $color_orange;
    }
    .instalacionesList
    {
        display: none;
        li
        {
            background: $white;
            line-height: 3em;
            text-align: center;
            border-bottom: 1px solid $darkpurple;
            a
            {
                display: inline;
                color: $darkpurple;
                padding: 0.8em 0;
            }
        }
    }
}
@media only screen and (min-width: $bp2){
   .menu-nav
    {
        display: -webkit-box !important;
        display: -moz-box !important;
        display: -ms-flexbox !important;
        display: -webkit-flex !important;
        display: flex !important;

        -webkit-justify-content: space-around;
        -ms-justify-content: space-around;
        -moz-justify-content: space-around;
        -ms-flex-pack: distribute;
        justify-content: space-around;
        -webkit-box-pack: justify;

        width: 100%;
        background-color: #ffffff;
        margin: 0 0 0 -5%;
        ul
        {
            display: -webkit-box;
            display: -moz-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;

            -webkit-justify-content: space-around;
            -ms-justify-content: space-around;
            -moz-justify-content: space-around;
            -ms-flex-pack: distribute;
            justify-content: space-around;
            -webkit-box-pack: justify;

            width: 100%;
            margin: 0 0 0.5em 0;
            li
            {
                a
                {
                    font-size: 16px;
                    color: $darkpurple;
                    margin: 0;
                    padding: 0;
                    position: relative;
                }
                li:hover
                {
                    background-color: 3px solid $color_orange;
                    -webkit-transition: width 1s; /* For Safari 3.1 to 6.0 */
                    transition: width 1s;
                }
            }
            #phone-movil
            {
                display: none;
            }
        }
    }
}
.menu-movil
{
    width: 100%;
    height: 50px;
    border-bottom: 2px solid $darkpurple;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    z-index: 999999;
    background-color: rgba(255,255,255,0.9);
    .scroll-top-movil
    {
        width: 45px;
        height: 45px;
        position: fixed;
        top: 3px;
        right: 30px;
    }
    .tel
    {
        position: fixed;
        top: 6px;
        left: 20px;
        text-align: center;
        background-color: $darkpurple;
        color: #ffffff;
        padding: 0.5em;
        border-radius: 3px;
    }
}
@media only screen and (min-width: $bp2){
    .menu-movil
    {
        display: none !important;
    }
}
.cover
{
    position:relative;
    img
    {
        width: 100%;
    }
    .cover-text
    {
        width:90%;
        text-align: center;
        font-size: 14px;
        position: absolute;
        top:1em;
        left: 5%;
        color: $darkpurple;
        font-weight: $lighttitular;
        span
        {
            font-weight: $titular;
        }
    }
    .subcover-text
    {
        width: 70%;
        text-align: center;
        font-size: .6em;
        position: absolute;
        top:7em;
        left: 15%;
    }
}
@media only screen and (min-width: $bp2){
    .cover
    {
        .cover-text
        {
            width: 80%;
            left: 10%;
            top: .5em;
            font-size: 20px;
        }
        .subcover-text
        {
            width: 80%;
            font-size: 12px;
            top:7em;
            left: 10%;
        }
    }
}
@media only screen and (min-width: $bp3){
    .cover
    {
        .cover-text
        {
            width: 80%;
            left: 10%;
            font-size: 25px;
        }
        .subcover-text
        {
            width: 70%;
            font-size: 14px;
            top:7em;
            left: 15%;
        }
    }
}
@media only screen and (min-width: $bp4){
    .cover
    {
        .cover-text
        {
            
           
            top:-.2em;
            font-size: 35px;
        }
        .subcover-text
        {
            
            font-size: 15px;
            left: 15%;
            top:8em;
            
        }
    }
}
@media only screen and (min-width: $bp5){
    .cover
    {
        .cover-text
        {
            font-weight: $texto2;
            top:-.2em;        
            font-size: 40px;
        }
        .subcover-text
        {
            width: 70%;
            text-align: center;
            font-size: 20px;
            position: absolute;
            top:7em;
            left: 15%;
        }
    }
}
.claim
{
    background-color:$darkpurple;
    font-size: 1em;
    color:#ffffff;
    padding:1em;
    text-align: center;
    font-weight:$texto;
    margin: 0;
    p
    {
        width: 90%;
        margin: 1em 5%;
    }
    .claimdisplay
    {
        display: none;
    }
}
@media only screen and (min-width: $bp2){
    .claim
    {
        background-color:$darkpurple;
        font-size: .8em;
        color:#ffffff;
        padding:1em;
        text-align: center;
        font-weight:$texto;
        p
        {
            width: 60%;
            margin: 1em 20% 0;
        }
        .claimdisplay
        {
            font-weight: $lighttitular;
            display: block;
            font-size: 1.2em;
            width: 80%;
            margin: 0.3em 10% 1em;
        }
    }
}
.tituloservicios2, .tipoestilo2, .tituloservicios3
    {
        display: none;
    }
.serviciosdesktop
{
    width: 90%;
    margin: 2em 5%;
    text-align:center;
    .tituloservicios
    {
        text-align: left;
        font-size: 12px;
        font-weight: $lighttitular;
        width: 60%;
        margin: 0 20%;
    }
    .tipoestilo
    {
        text-align: left;
        width: 60%;
        font-size: 22px;
        font-weight: $titular;
        margin: 0 20% 1em;
        line-height: 14px;
    }
    article
    {
         width: 100%;
         img
        {
            width: 37vw;
        }
        h2
        {
            width: 60%;
            margin: 0 20%;
            font-size: 12px;
            background-color:$color_orange;
            color: #ffffff;
            font-weight: $texto2;
            line-height:30px;
            text-align: center;
        }
        p
        {
            width: 46%;
            font-size: 9px;
            margin: 0 27% 1.5em;
            line-height: 18px;
            text-align: center;
        }
        .more
        {
            display:inline-block;
            color:#ffffff;
            background-color:$darkpurple;
            padding:.6em;
            margin-bottom:4em;
            font-size: 10px;
        }
    }
    .fontaneria-movil, .calefaccion-movil, .aire-movil
    {
        img
        {
            width: 25%;
            padding: 1em;
        }
    }
    .gas-movil
    {
        img
        {
            width: 15%;
            padding: 1em;
        }
    }
}

@media only screen and (min-width: $bp2){
    .serviciosdesktop
    {
        .fontaneria-movil, .calefaccion-movil, .gas-movil, .aire-movil
        {
            display: none;
        }
        .tituloservicios
        {
            font-size: 14px;
            width: 72%;
            margin: 0 14%;
        }
        .tipoestilo
        {
            width: 72%;
            font-size: 26px;
            margin: 0 14% 1em;
        }
        .asesor
        {
            margin-top: 2em;
        }
        article
        {
            p
            {
                width: 46%;
                font-size: 9px;
                margin: 1.5em 27%;
                line-height: 18px;
                text-align: center;
            }
            img
            {
                width: 45%;
            }
            h2
            {
                width: 45%;
                margin: 0 27.5% 0.7em;
                font-size: 10px;
                background-color:$color_orange;
                color: #ffffff;
                font-weight: $texto2;
                line-height:30px;
            }
            .more
            {
                background-color:$darkpurple;
                width: 20%;
                text-align: center;
                margin: 0 auto;
            }
        }
    }
    .hacemos
    {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        .instalaciones
        {
            display: -webkit-box;
            display: -moz-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            -webkit-flex-direction: column;
            -moz-flex-direction: column;
            -ms-flex-direction: column;
            -o-box-orient: vertical;
            -webkit-box-orient: vertical;
            -moz-box-orient: vertical;
            flex-direction: column;
        }
    }
    .comohacer
    {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
    }
}
@media only screen and (min-width: $bp3){
    .tituloservicios, .tipoestilo
    {
        display: none;
    }
    
    .cabecera
    {
        margin-top: 1rem;        
        width: 100%;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
   
    .tituloservicios2
    {
        display: block;
        width: 50%;
        font-size: 1.1em;
        margin-left: 11.5%;
        line-height: 1.2em;
    }
    .tituloservicios3
    {
        display: block;
        width: 50%;
        font-size: 1.1em;
        margin-left: -8%;
        line-height: 1.2em;
    }
    .tipoestilo2
    {
        display: block;
        font-size: 1.875em;
        font-weight: $titular;
    }
    }
        .serviciosdesktop
        {
        width: 80%;
        margin-left: 10%; 
        margin-top: 0; 
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        article
        {
            p
            {
                width:90%;
                font-size: 12px;
                margin: 1.5em 5%;
                height: 18em;
                text-align: center;
            }
            img
            {
                width:85%;
            }
            h2
            {
                width: 85%;
                margin: 0 8% 0.7em;
                font-size: 10px;
                background-color:$color_orange;
                color: #ffffff;
                font-weight: $texto2;
                line-height:30px;
            }
            .more
            {
                background-color:$darkpurple;
                width: 40%;
                text-align: center;
                margin: 0 auto;
            }
        }
    }
}
// @media only screen and (min-width: $bp4){
//     .tituloservicios, .tipoestilo
//     {
//         display: none;
//     }
    
//     .cabecera
//     {
        
//      }
//     .tituloservicios2
//     {
//         display: block;
//         width: 50%;
//         font-size: 1.250rem;
//         margin-left: 16%;
//         line-height: 1.5em;
   
//     .tituloservicios3
//     {
//         display: block;
//         width: 50%;
//         font-size: 1.375em;
//         margin-left: -13%;
//         line-height: 1.3em;
//     }
//     .tipoestilo2
//     {
//         display: block;
//         font-size: 1.9em;
//         font-weight: $titular;
//     }
//     }
//         .serviciosdesktop
//         {
//         width: 70%;
//         margin-left: 15%; 
//         margin-top: 0; 
//         display: -webkit-box;
//         display: -moz-box;
//         display: -ms-flexbox;
//         display: -webkit-flex;
//         display: flex;
//         article
//         {
//             p
//             {
//                 width:90%;
//                 font-size: 12px;
//                 margin: 1.5em 5%;
//                 height: 13em;
//                 text-align: center;
//             }
//             img
//             {
//                 width:85%;
//             }
//             h2
//             {
//                 width: 85%;
//                 margin: 0 8% 0.7em;
//                 font-size: 10px;
//                 background-color:$color_orange;
//                 color: #ffffff;
//                 font-weight: $texto2;
//                 line-height:30px;
//             }
//             .more
//             {
//                 background-color:$darkpurple;
//                 width: 30%;
//                 text-align: center;
//                 margin: 0 auto;
//             }
//         }
//     }
// }

@media only screen and (min-width: $bp2){
    .especialistas-wrapper
    {
        display: inline-block;
        .especialistasp
        {
            text-align: center;
            font-weight: $titular;
            font-size: 18px;
            width: 100%;            
            span
            {
                font-weight: $lighttitular;
            }
        }
        .especialistas
        {
            .especialup, .especialdown
            {
                display: -webkit-box;
                display: -moz-box;
                display: -ms-flexbox;
                display: -webkit-flex;
                display: flex;
                width: 80%;
                margin-left:10%;
                margin-bottom: 2em;
            }
            article
            {
                background-color: $yellow;
                margin:-.5em 5% 0 5%;
                padding:1em 3% 0 3%;
                img
                {
                    width: 30%;
                }
                .imgas
                {
                    width: 15%;
                    margin-top: 1em;
                }
                p
                {
                    font-size: 9px;
                    text-align: left;
                    width: 100%;
                    margin-left: 2%;
                }
                .pgas
                {
                    margin-top: 3em;
                }
                a
                {
                    display: inline-block;
                    width: 100%;
                    height: 4em;
                    text-align: center;
                }
                h2
                {
                   font-size: 14px;
                   text-align: center;
                   margin-top: 0.5em;
                }
            }
        }
    }
}
// @media only screen and (min-width: $bp3){

//     .especialistas-wrapper
//     {
//         display: inline-block;
//         .especialistasp
//         {
//             text-align: center;
//             font-weight: $titular;
//             font-size: 18px;
//             width: 80%;
//             margin: 1em 10% 2em;
//             span
//             {
//                 font-weight: $lighttitular;
//             }
//         }
//         .especialistas
//         {   width: 80%;
//                 display: -webkit-box;
//                 display: -moz-box;
//                 display: -ms-flexbox;
//                 display: -webkit-flex;
//                 display: flex;
//             .especialup, .especialdown
//             {
                
//             }
//             article
//             {
//                 background-color: $yellow;
//                 margin:-.5em 5% 0 5%;
//                 padding:1em 3% 0 3%;
//                 img
//                 {
//                     width: 30%;
//                 }
//                 .imgas
//                 {
//                     width: 15%;
//                     margin-top: 1em;
//                 }
//                 p
//                 {
//                     font-size: 9px;
//                     text-align: left;
//                     width: 100%;
//                     margin-left: 2%;
//                 }
//                 .pgas
//                 {
//                     margin-top: 3em;
//                 }
//                 a
//                 {
//                     display: inline-block;
//                     width: 100%;
//                     height: 4em;
//                     text-align: center;
//                 }
//                 h2
//                 {
//                    font-size: 14px;
//                    text-align: center;
//                    margin-top: 0.5em;
//                 }
//             }
//         }
//     }
// }

.team
{
    width: 100%;
    .caracteristicas
    {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-flex-direction: column;
        -moz-flex-direction: column;
        -ms-flex-direction: column;
        -o-box-orient: vertical;
        -webkit-box-orient: vertical;
        -moz-box-orient: vertical;
        flex-direction: column;
        background-color: $grey;
        padding: 3em 1.2em 1.2em 1.2em;
        article
        {
            display: -webkit-box;
            display: -moz-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            width: 100%;
            height: 5em;

            /*img
            {
                width: 80%;
            }
            .especial
            {
                width: 90%;
            }
            div
            {
                margin: -1.7em 0 .8em 30%;
                p
                {
                    margin-top: -.6em;
                    font-size: 9px;
                }
                h2
                {
                    font-size: 14px;
                }
            }
            .especialdiv
            {
                width: 80%;
            }*/
        }
        .legal
        {
            a
            {
                text-align: center;
                width: 30%;
                img
                {
                    width: 40%;
                }
            }
            .especialdiv
            {
                width: 70%;
                p
                {
                    font-size: 9px;
                }
                h2
                {
                    font-size: 14px;
                    margin-top: 0;
                }
            }
        }
        .rapidez
        {
            a
            {
                text-align: center;
                width: 30%;
                img
                {
                    width: 50%;
                }
            }
            .especialdiv
            {
                width: 70%;
                p
                {
                    font-size: 9px;
                }
                h2
                {
                    font-size: 14px;
                    margin-top: 0;
                }
            }
        }
        .precio, .seguridad, .calidad
        {
            a
            {
                text-align: center;
                width: 30%;
                img
                {
                    width: 40%;
                }
            }
            div
            {
                width: 70%;
                p
                {
                    font-size: 9px;
                }
                h2
                {
                    font-size: 14px;
                    margin-top: 0;
                    margin-bottom: 0;
                }
            }
        }
    }
}
@media only screen and (min-width: $bp2){
    .caracteristicas
    {
        width: 70%;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        article
        {
        img
            {
                width: 60px;
                height: 60px;
            }
            div 
            {
                margin: -1.7em 0 .8em 30%;
                
                p 
                {
                    margin-top: -.6em;
                    font-size: 12px;
                }
                
                h2
                {
                    font-size: 16px;
                }
            }
        }
    }
    .team
    {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex; 
        width: 100%;
        background-color:#E5E6E9;      
        .nosotros
        {
            display: block;
            width: 80%;
            margin: 1em 5% 0 3%;
            border-left: 1px solid rgb(176,175,175);
            height: 35em;
            padding-top:5em;
            article
            {       
                h5 
                {
                    margin-left: 5%;
                    font-size: 30px;                
                }
                p 
                {
                    margin-left: 5%;
                    font-size: 14px;
                }
            }
        }
    }
}
.logosinstalacion
{
    div
    {
        h1
        {
          font-weight: $lighttitular;
          text-align: center;
          font-size: 20px;          
          span
          {
            font-weight: $titular;
          }  
        }
    }
    img
    {
        width: 30%;
        text-align: center;
        margin: 1em 1% 1.5em 1%;
    }
}
.contacto 
{
    background-color: $darkpurple;
    color: #ffffff; 
    height: auto;
    padding:1em 5% 3em 5%;
    .contactpregunta
    {
        margin-left: -1%;
    }
    .contactext 
    {        
        margin: -1.5em 0 2em 0;
        width: 90%;
    }
}
.izda
{
    
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;   
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-box-orient: vertical;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;             
    flex-direction: column;    
    article
    {
        width: 100%;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
    }
    img
    {
        width: 39px;
        height: 39px;
        margin-left: -12%;
        margin-top: .3em;
        
    }
    .house
    {
       margin-top: -.7em; 
    }
    div
    {
        margin-left: 10%;
        
    }
    p 
    {
        font-size: 14px;
    }
    a 
    {
        color: #ffffff;
    }
    .contactrow
    {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: column;   
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    -o-box-orient: vertical;
    -webkit-box-orient: vertical;
    -moz-box-orient: vertical;             
    flex-direction: column;
    margin-bottom: 1em;
    p 
    {
        margin-top: -.8em;
    }
    }
}
.dcha
{
    p 
    {
        text-align: center;
    }
    input, textarea
    {
        margin:6px 8%;
        height:42px;
        width: 80%;
    }
    .submit
    {
        position: relative;
        left:4.8%;
        height:42px;
        width: 40%;
    }
}
@media only screen and (min-width: $bp2){
    .contacto 
    {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
        .contactext
        {            
            .contactpregunta
            {
                font-weight: $titular;
                font-size: 18px;
            }
            p 
            {
            font-size: 12px;
            }
        }   
    }
    .izda
    {
    width: 60%;
    margin-top: 1.5em;
    }
    .dcha
    {
    width: 50%;
    }
}
@media only screen and (min-width: $bp5){
    .contacto 
    {
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
        .contactext
        {            
            .contactpregunta
            {
                font-weight: $titular;
                font-size: 52px;
            }
            p 
            {
            font-size: 12px;
            }
        }   
    }

}
footer
{
    background-color:#E5E6E9;
    .social
    {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        padding:1em;
        .plus
        {
            margin:.4em 0 0 40%; 
            img
            {
            width: 30px;
            height: 30px;
            }
        }
    }
    p
    {
        text-align: center;
        font-size: 12px;
    }
}
.nosotros, .logosmarcas,
{
    display: none;
}
/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers:
 * http://juicystudio.com/article/screen-readers-display-none.php
 */

.hidden 
{
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden 
{
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
