/*! HTML5 Boilerplate v5.0.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html
{
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}
body
{
    width: 100%;
    margin: 0;
    padding:0;
}
li, ol, ul a
{
    list-style: none;
}
a
{
    text-decoration: none;
    font-style: none;
}
/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * These selection rule sets have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr
{
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video
{
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset
{
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea
{
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade
{
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,600,800);
@import url(http://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700);
@import 'breakpoints.scss';
@import 'tipografia.scss';
@import 'colores.scss';

html{

}
body
{
    font-family: $tipografia;
    color: $darkpurple;
}
#org-content
{
    margin: 0 auto;
}

.instalaciones, .especialistas-wrapper
{
    display: none;
}
header
{
    .logo-a
    {
        display: inline-block;
        margin-left: 8%;
    }
    .logo
    {
        display: inline-block;
        width: 55px;
        height: 75px;
        padding: .7em .7em 1.5em .7em;
    }
}
@media only screen and (min-width: $bp2){
    header
    {
        .logo
        {
            width: 73px;
            height: 101px;
            padding: 0.7em 1.5em 0em;
        }
    }
}
.menu-right
{
    .menu-nav, .menu-contact
    {
        display: none;
    }
    .iconoMenu
    {
        img
        {
            display: block;
            max-width: 30px;
            height: 25px;
            margin:  -5.5em 0 3em 80%;
        }
    }
}
@media only screen and (min-width: $bp2){
    .menu-right
    {
        margin: -6em 0 1em 35%;
        width: 60%;
        text-align: center;
        .iconoMenu
        {
            display: none;
        }
        .menu-contact
        {
            display: -webkit-box;
            display: -moz-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            -webkit-flex-direction: column;
            -moz-flex-direction: column;
            -ms-flex-direction: column;
            -o-box-orient: vertical;
            -webkit-box-orient: vertical;
            -moz-box-orient: vertical;
            flex-direction: column;
            width:100%;
            p
            {
                font-weight: $titular;
                margin-left: 20%;
                font-size: 14px;
            }
            a
            {
                display: none;
            }
            .telcontact
            {
                margin-top: -.8em;
                font-size: 16px;
                font-weight: $texto;
            }
            .mail
            {
                font-size: 13px;
                margin-left: 1.5em;
            }
        }
    }
}
@media only screen and (min-width: $bp4){
    .menu-right
    {
        .menu-contact
        {
            margin: 0em auto 3.5em;
            p
            {
                font-size: 18px;
            }
            .telcontact
            {
                margin-top: -1em;
                margin-bottom: -1em;
                font-size: 18px;
            }
            .mail
            {
                font-size: 18px;
            }
        }
    }
}
@media only screen and (min-width: $bp6){
    .menu-right
    {
        margin: -6em 0 1em 40%;
        .menu-contact
        {
            margin: 0em auto 3.2em;
            p
            {
                font-size: 20px;
            }
            .telcontact
            {
                font-size: 20px;
            }
            .mail
            {
                font-size: 20px;
            }
        }
    }
}
.menu-nav
{
    display: none;
    margin: 2em 0 0;
    background: $darkpurple;
    width: 100%;
    ul
    {
        padding: 0;
        margin: 0;
        li
        {
            line-height: 3em;
            text-align: center;
            a
            {
                display: inline;
                color: #EEE;
                text-decoration: none;
                padding: 1.8em 10%;
                font-size: 10px;
            }
        }
    }
    .instalacionesMenu
    {
        color: #EEE;
        text-align: center;
        font-size: 10px;
        line-height: 50px;
    }
    .selected
    {
        background: $color_orange;
    }
    .instalacionesList
    {
        display: none;
        li
        {
            background: $white;
            line-height: 3em;
            text-align: center;
            border-bottom: 1px solid $darkpurple;
            a
            {
                display: inline;
                color: $darkpurple;
                padding: 0.8em 0;
            }
        }
    }
}
@media only screen and (min-width: $bp2){
    .menu-nav
    {
        display: -webkit-box !important;
        display: -moz-box !important;
        display: -ms-flexbox !important;
        display: -webkit-flex !important;
        display: flex !important;
        -webkit-justify-content: space-around;
        -ms-justify-content: space-around;
        -moz-justify-content: space-around;
        -ms-flex-pack: distribute;
        justify-content: space-around;
        -webkit-box-pack: justify;
        width: 100%;
        background-color: $darkpurple;;
        ul
        {
            display: -webkit-box;
            display: -moz-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            -webkit-justify-content: space-around;
            -ms-justify-content: space-around;
            -moz-justify-content: space-around;
            -ms-flex-pack: distribute;
            justify-content: space-around;
            -webkit-box-pack: justify;
            width: 100%;
            margin: 0 0 0.5em 0;
            li
            {
                width: 25%;
                a
                {
                    color: $white;
                }
                li:hover
                {
                    background-color: 3px solid $color_orange;
                    -webkit-transition: width 1s; /* For Safari 3.1 to 6.0 */
                    transition: width 1s;
                }
            }
            #phone-movil
            {
                display: none;
            }
        }
    }
}
@media only screen and (min-width: $bp3){
    .menu-nav
    {
        ul
        {
            width: 80%;
            margin: 0 0 0 20%;
            li
            {
                width: 20%;
            }
        }
    }
}
@media only screen and (min-width: $bp4){
    .menu-nav
    {
        ul
        {
            width: 60%;
            margin: 0 7% 0 38%;
            li
            {
                width: 15%;
            }
            .efiEner
            {
                width: 25%;
            }
        }
    }
}
@media only screen and (min-width: $bp5){
    .menu-nav
    {
        ul
        {
            li
            {
                a
                {
                    font-size: 12px;
                }
            }
            .efiEner
            {
                width: 27%;
            }
            .instalacionesMenu
            {
                font-size: 12px;
            }
        }
    }
}
.menu-movil
{
    width: 100%;
    height: 50px;
    border-bottom: 2px solid $darkpurple;
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    z-index: 999999;
    background-color: rgba(255,255,255,0.9);
    .scroll-top-movil
    {
        width: 45px;
        height: 45px;
        position: fixed;
        top: 3px;
        right: 30px;
    }
    .tel
    {
        position: fixed;
        top: 6px;
        left: 20px;
        text-align: center;
        background-color: $darkpurple;
        color: #ffffff;
        padding: 0.5em;
        border-radius: 3px;
    }
}
@media only screen and (min-width: $bp2){
    .menu-movil
    {
        display: none !important;
    }
}
.cover
{
    position:relative;
    img
    {
        width: 100%;
    }
    .cover-text
    {
        width:90%;
        text-align: center;
        font-size: 14px;
        position: absolute;
        top:1em;
        left: 5%;
        color: $darkpurple;
        font-weight: $lighttitular;
        span
        {
            font-weight: $titular;
        }
    }
    .subcover-text
    {
        width: 60%;
        text-align: center;
        font-size: .6em;
        position: absolute;
        top:7em;
        left: 20%;
    }
}
@media only screen and (min-width: $bp2){
    .cover
    {
        .cover-text
        {
            font-weight: $texto2;
            width: 80%;
            left: 10%;
            font-size: 18px;
            line-height: 20px;
        }
        .subcover-text
        {
            width: 50%;
            font-size: 10px;
            top:7.5em;
            left: 25%;
        }
    }
}
@media only screen and (min-width: $bp3){
    .cover
    {
        .cover-text
        {
            font-size: 24px;
            line-height: 24px;
        }
        .subcover-text
        {
            font-size: 14px;
            top:7em;
        }
    }
}
@media only screen and (min-width: $bp5){
    .cover
    {
        .cover-text
        {
            font-size: 32px;
            line-height: 32px;
        }
        .subcover-text
        {
            font-size: 16px;
            top:8em;
        }
    }
}
@media only screen and (min-width: $bp6){
    .cover
    {
        .cover-text
        {
            font-size: 38px;
            line-height: 38px;
        }
        .subcover-text
        {
            width: 70%;
            font-size: 17px;
            top:9em;
            left: 15%;
        }
    }
}
.claim
{
    background-color:$darkpurple;
    font-size:14px;
    color: $white;
    padding:3em 0;
    text-align: center;
    font-weight: $texto;
    p
    {
        width: 90%;
        margin-left: 5%;
    }
    .claimdisplay
    {
        display: none;
    }
}
@media only screen and (min-width: $bp2){
    .claim
    {
        .claimdisplay
        {
            font-weight: $titular2;
            display: block;
            font-size: 14px;
        }
    }
}
@media only screen and (min-width: $bp3){
    .claim
    {
        padding:2em 0 3em;
        font-size: 16px;
        p
        {
            margin-bottom: 0.3em;
        }
        .claimdisplay
        {
           margin-top: 0em;
           font-size: 16px;
        }
    }
}
@media only screen and (min-width: $bp5){
    .claim
    {
        font-size: 18px;
        .claimdisplay
        {
           font-size: 18px;
        }
    }
}
@media only screen and (min-width: $bp6){
    .claim
    {
        font-size: 20px;
        .claimdisplay
        {
           font-size: 20px;
        }
    }
}
.tituloservicios2, .tipoestilo2, .tituloservicios3
{
    display: none;
}
.serviciosdesktop
{
    width: 90%;
    margin: 2em 5%;
    text-align:center;
    .tituloservicios
    {
        text-align: left;
        font-size: 12px;
        font-weight: $lighttitular;
        width: 60%;
        margin: 0 20%;
    }
    .tipoestilo
    {
        text-align: left;
        width: 60%;
        font-size: 22px;
        font-weight: $titular;
        margin: 0 20% 1em;
        line-height: 14px;
    }
    article
    {
        width: 100%;
        img
        {
            width: 37vw;
        }
        h2
        {
            width: 60%;
            margin: 0 20%;
            font-size: 12px;
            background-color:$color_orange;
            color: #ffffff;
            font-weight: $texto2;
            line-height:30px;
            text-align: center;
        }
        .pInstalaciones
        {
            width: 46%;
            font-size: 9px;
            margin: 0 27% 1.5em;
            line-height: 18px;
            text-align: center;
        }
        .more
        {
            display:inline-block;
            color:#ffffff;
            background-color:$darkpurple;
            padding:.6em;
            margin-bottom:4em;
            font-size: 10px;
        }
    }
    .fontaneria-movil, .calefaccion-movil, .aire-movil
    {
        img
        {
            width: 25%;
            padding: 1em;
        }
    }
    .gas-movil
    {
        img
        {
            width: 15%;
            padding: 1em;
        }
    }
}
@media only screen and (min-width: $bp2){
    .serviciosdesktop
    {
        .fontaneria-movil, .calefaccion-movil, .gas-movil, .aire-movil
        {
            display: none;
        }
        .tituloservicios
        {
            font-size: 14px;
            width: 72%;
            margin: 0 14%;
        }
        .tipoestilo
        {
            width: 72%;
            font-size: 26px;
            margin: 0 14% 1em;
        }
        .asesor
        {
            margin-top: 2em;
        }
        article
        {
            .pInstalaciones
            {
                width: 46%;
                font-size: 9px;
                margin: 1.5em 27%;
                line-height: 18px;
                text-align: center;
            }
            .imgServicios
            {
                width: 45%;
            }
            h2
            {
                width: 45%;
                margin: 0 27.5% 0.7em;
                font-size: 10px;
                background-color:$color_orange;
                color: #ffffff;
                font-weight: $texto2;
                line-height:30px;
            }
            .more
            {
                background-color:$darkpurple;
                width: 20%;
                text-align: center;
                margin: 0 auto;
            }
        }
    }
    .hacemos
    {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        .instalaciones
        {
            display: -webkit-box;
            display: -moz-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            -webkit-flex-direction: column;
            -moz-flex-direction: column;
            -ms-flex-direction: column;
            -o-box-orient: vertical;
            -webkit-box-orient: vertical;
            -moz-box-orient: vertical;
            flex-direction: column;
        }
    }
    .comohacer
    {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        margin-top: .13em;
    }
}
@media only screen and (min-width: $bp3){
    .tituloservicios, .tipoestilo
    {
        display: none;
    }
    .cabecera
    {
        margin-top: 1em;
        width: 100%;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        .tituloservicios2
        {
            display: block;
            width: 50%;
            font-size: 16px;
            margin-left: 13.2%;
            line-height: 1.2em;
        }
        .tituloservicios3
        {
            display: block;
            width: 50%;
            font-size: 16px;
            margin-left: -6%;
            line-height: 1.2em;
        }
        .tipoestilo2
        {
            display: block;
            font-size: 32px;
            font-weight: $titular;
        }
    }
    .serviciosdesktop
    {
        width: 80%;
        margin-left: 10%;
        margin-top: 0;
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        article
        {
            .pInstalaciones
            {
                width:80%;
                font-size: 10px;
                margin: 1.5em 10%;
                height: 18em;
                text-align: center;
            }
            .imgServicios
            {
                width:66%;
            }
            h2
            {
                width: 66%;
                margin: 0 17% 0.7em;
                font-size: 9px;
            }
            .more
            {
                width: 40%;
                text-align: center;
                margin: 0 auto;
            }
        }
    }
}
@media only screen and (min-width: $bp5){
    .cabecera
    {
        .tituloservicios2
        {
            font-size: 18px;
            margin-left: 13%;
            line-height: 1.2em;
        }
        .tituloservicios3
        {
            font-size: 18px;
            margin-left: -6%;
            line-height: 1.2em;
        }
        .tipoestilo2
        {
            display: block;
            font-size: 36px;
            font-weight: $titular;
        }
    }
    .serviciosdesktop
    {
        width: 80%;
        margin-left: 10%;
        article
        {
            .pInstalaciones
            {
                height: 16em;
                width:66%;
                margin: 1.5em 17%;
            }
            .imgServicios
            {
                width:66%;
            }
            h2
            {
                width: 66%;
                margin: 0 17% 0.7em;
                font-size: 10px;
            }
        }
    }
}
@media only screen and (min-width: $bp6){
    .cabecera
    {
        .tituloservicios2
        {
            font-size: 22px;
            line-height: 1.3em;
            margin-top: 3em;
        }
        .tituloservicios3
        {
            font-size: 22px;
            margin-top: 3.2em;
        }
        .tipoestilo2
        {
            font-size: 44px;
        }
    }
    article
    {
        .pInstalaciones
        {
            max-width:66%;
            margin: 1.5em auto;
        }
        .imgServicios
        {
            max-width:66%;
        }
        h2
        {
            max-width: 66%;
            margin: 0 auto 0.7em;
        }
        .more
        {
            max-width: 25%;
            margin: 0 auto;
        }
    }
}
@media only screen and (min-width: $bp7){
    .wrapperServiciosdesktop
    {
        max-width: $ancho_max;
        margin: 0 auto;
        .cabecera
        {
            position: relative;
            .tituloservicios2
            {
                position: absolute;
                left: -4.3%;
                top: -5em;
            }
            .tituloservicios3
            {
                position: absolute;
                left: 59.7%;
                top: -5em;
            }
            .tipoestilo2
            {
                font-size: 44px;
            }
        }
        .serviciosdesktop
        {
            width: 90%;
            margin: 8em auto 0;
            padding-top: 2em;
            article
            {
                p
                {
                    height: 12em;
                }
            }
        }
    }
}
@media only screen and (min-width: $bp2){
    .especialistas-wrapper
    {
        width:80%;
        display: block;
        margin: 0 auto;
        .especialistasp
        {
            text-align: center;
            font-weight: $texto;
            font-size: 20px;
            width: 100%;
            margin-top: 3em;
            span
            {
                font-weight: $titular;
            }
        }
       .especialup
        {
            display: -webkit-box;
            display: -moz-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            -webkit-justify-content: space-around;
            -ms-justify-content: space-around;
            -moz-justify-content: space-around;
            -ms-flex-pack: distribute;
            justify-content: space-around;
            -webkit-box-pack: justify;
            width: 100%;
            article
            {
                position: relative;
                margin: 0 auto 1em;
                width: 40%;
                p
                {
                    font-size: 8px;
                }
                .imgEspecialistas
                {
                    width: 100%;
                    margin: 0 auto;
                }
                h2
                {
                    font-size: 12px;
                    width: 100%;
                    text-align: center;
                }
            }
            .calefaccion
            {
                h2
                {
                    position:absolute;
                    top:.5em;
                }
            }
            .fontaneria
            {
                h2
                {
                    position:absolute;
                    top:.5em;
                }
            }
        }
        .especialdown
        {
            display: -webkit-box;
            display: -moz-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            -webkit-justify-content: space-around;
            -ms-justify-content: space-around;
            -moz-justify-content: space-around;
            -ms-flex-pack: distribute;
            justify-content: space-around;
            -webkit-box-pack: justify;
            width: 100%;
            article
            {
                position: relative;
                margin: 0 auto 1em;
                width: 40%;
                p
                {
                    font-size: 8px;
                }
                .imgEspecialistas
                {
                    width: 100%;
                    margin: 0 auto;
                }
                h2
                {
                    font-size: 12px;
                    width: 100%;
                    text-align: center;
                }
            }
            .gas
            {
                h2
                {
                    position:absolute;
                    top:.5em;
                }
            }
            .aire
            {
                h2
                {
                    position:absolute;
                    top:.5em;
                }
            }
        }
    }
}
@media only screen and (min-width: $bp3){
    .especialistas
    {
        display: -webkit-box;
        display: -moz-box;
        display: -ms-flexbox;
        display: -webkit-flex;
        display: flex;
        -webkit-justify-content: space-around;
        -ms-justify-content: space-around;
        -moz-justify-content: space-around;
        -ms-flex-pack: distribute;
        justify-content: space-around;
        -webkit-box-pack: justify;
        width: 100%;
        .especialup
        {
            width: 50%;
            article
            {
                margin: 0 auto 1em;
                width: 40%;
                p
                {
                    font-size: 8px;
                }
                .imgEspecialistas
                {
                    width: 100%;
                    margin: 0 auto;
                }
                h2
                {
                    font-size: 10px;
                    width: 100%;
                    text-align: center;
                }
            }
        }
        .especialdown
        {
            width: 50%;
            article
            {
                margin: 0 auto 1em;
                width: 40%;
                p
                {
                    font-size: 8px;
                }
                .imgEspecialistas
                {
                    width: 100%;
                    margin: 0 auto;
                }
                h2
                {
                    font-size: 10px;
                    width: 100%;
                    text-align: center;
                }
            }
        }
    }
}
@media only screen and (min-width: $bp5){
    .especialistas-wrapper
    {
        margin-bottom: 4em;
        .especialistasp
        {
            font-size: 24px;
            margin-top: 4em;
        }
        .especialistas
        {
            .especialup
            {
                article
                {
                    h2
                    {
                        font-size: 12px;
                    }
                    p
                    {
                        font-size: 10px;
                        margin-top: 1.5em;
                    }
                }
            }
            .especialdown
            {
                article
                {
                    h2
                    {
                        font-size: 12px;
                    }
                    p
                    {
                        font-size: 10px;
                        margin-top: 1.5em;
                    }
                }
            }
        }
    }
}
@media only screen and (min-width: $bp6){
    .especialistas-wrapper
    {
        max-width: $ancho_max;
        margin: 0 auto;
        margin-bottom: 4em;
        .especialistasp
        {
            font-size: 24px;
            margin-top: 4em;
        }
        .especialistas
        {
            .especialup
            {
                width: 50%;
                article
                {
                    width: 50%;
                    margin: 0 auto;
                    .imgEspecialistas
                    {
                        width: 70%;
                        margin-left: 15%;
                    }
                    h2
                    {
                        font-size: 12px;
                        margin-left: 15%;
                        padding-top: 1em;
                    }
                    p
                    {
                        width: 100%;
                        font-size: 10px;
                        margin: 1.5em auto 0;
                    }
                }
            }
            .especialdown
            {
                width: 50%;
                article
                {
                    width: 50%;
                    margin: 0 auto;
                    .imgEspecialistas
                    {
                        width: 70%;
                        margin-left: 15%;
                    }
                    h2
                    {
                        font-size: 12px;
                        margin-left: 15%;
                        padding-top: 1em;
                    }
                    p
                    {
                        width: 100%;
                        font-size: 10px;
                        margin: 1.5em auto 0;
                    }
                }
            }
        }
    }
}
@media only screen and (min-width: $bp7){
    .especialistas-wrapper
    {
        .especialistas
        {
            max-width: $ancho_max;
            margin: 0 auto;
        }
    }
}
.team
{
    .wrapperTeam
    {
        .nosotros
        {
            display: none;
        }
        width: 100%;
        .caracteristicas
        {
            display: -webkit-box;
            display: -moz-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            -webkit-flex-direction: column;
            -moz-flex-direction: column;
            -ms-flex-direction: column;
            -o-box-orient: vertical;
            -webkit-box-orient: vertical;
            -moz-box-orient: vertical;
            flex-direction: column;
            background-color: $grey;
            padding: 3em 1.2em 1.2em 1.2em;
            p
            {
                font-size: 10px;
            }
            article
            {
                display: -webkit-box;
                display: -moz-box;
                display: -ms-flexbox;
                display: -webkit-flex;
                display: flex;
                width: 100%;
                img
                {
                    width:50px;
                    height: 45px;
                    padding:1em;
                }
                div
                {
                    margin:.6em 0 0 10%;
                    h2
                    {
                        font-size: 12px;
                        line-height:1em;
                    }
                }
            }
            .legal
            {
                img
                {
                    width:50px;
                    height: 50px;
                    padding:1em;
                }
                .especialdiv
                {
                    width: 70%;
                    h2
                    {
                        font-size: 12px;
                    }
                }
            }
            .rapidez
            {
                div
                {
                    width: 70%;
                    h2
                    {
                        font-size: 12px;
                        margin-top: 0;
                    }
                }
            }
            .precio, .seguridad, .calidad
            {
                div
                {
                    width: 70%;
                    h2
                    {
                        font-size: 12px;
                        margin-top: 0;
                        margin-bottom: 0;
                    }
                }
            }
        }
    }
}
@media only screen and (min-width: $bp2){
    .team
    {
        width: 100%;
        background-color: $grey;
        .wrapperTeam
        {
            display: -webkit-box;
            display: -moz-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            width: 90%;
            margin: 0 5%;
            .caracteristicas
            {
                width: 50%;
                border-right: 1px solid rgb(176,175,175);
                padding-left: 0;
                article
                {
                    margin-bottom: 1em;
                    img
                    {
                        width: 45px;
                        height: 45px;
                        margin: 1em 0;
                    }
                    h2
                    {
                        font-size: 14px;
                        line-height:1em;
                    }
                }
                .legal
                {
                    img
                    {
                        width: 45px;
                        height: 45px;
                        padding: 1em;
                    }
                    .especialdiv
                    {
                        width: 70%;
                        h2
                        {
                            font-size: 14px;
                        }
                    }
                }
            }
            .nosotros
            {
                display: block;
                width: 50%;
                margin: 7em 0 0 5%;
                article
                {
                    margin-left: 5%;
                    h5
                    {
                        line-height: 32px;
                        font-size: 34px;
                        font-weight: $titular;
                        span
                        {
                            font-weight: $texto;
                            font-size: 32px;
                        }
                    }
                    p
                    {
                        margin-top: -2em;
                        font-size: 12px;
                        line-height: 1.5em;
                    }
                }
            }
        }
    }
}
@media only screen and (min-width: $bp3){
    .team
    {
        .wrapperTeam
        {
            .nosotros
            {
                article
                {
                    margin-left: 0;
                }
            }
        }
    }
}
@media only screen and (min-width: $bp5){
    .team
    {
        .wrapperTeam
        {
            width: 80%;
            margin: 0 10%;
            .caracteristicas
            {
                article
                {
                    margin-bottom: 1em;
                    p
                    {
                        font-size: 12px;
                    }
                }
                .legal
                {
                    .especialdiv
                    {
                        h2
                        {
                            font-size: 14px;
                        }
                    }
                }
                .rapidez
                {
                    div
                    {
                        h2
                        {
                            font-size: 14px;
                        }
                    }
                }
                .precio, .seguridad, .calidad
                {
                    div
                    {
                        h2
                        {
                            font-size: 14px;
                        }
                    }
                }
            }
            .nosotros
            {
                margin: 6em 0 0 5%;
                article
                {
                    h5
                    {
                        font-size: 40px;
                        line-height: 40px;
                        margin-bottom: 2em;
                        span
                        {
                            font-weight: $texto;
                            font-size: 38px;
                        }
                    }
                    p
                    {
                        margin-top: -4em;
                        font-size: 14px;
                    }
                }
            }
        }
    }
}
@media only screen and (min-width: $bp6){
    .team
    {
        .wrapperTeam
        {
            max-width: $ancho_max;
            margin: 0 auto;
            .caracteristicas
            {
                width: 50%;
                margin-left: 7%;
                padding: 3em 0em 1.2em;
                article
                {
                    margin-bottom: 1em;
                    width: 95%;
                    p
                    {
                        display: inline;
                        font-size: 14px;
                        margin: 18px 0 0;
                    }
                    img
                    {
                        width: 60px;
                        height: 60px;
                        margin: 0;
                    }
                }
                .legal
                {
                    .especialdiv
                    {
                        h2
                        {
                            font-size: 16px;
                            margin-bottom: 0.7em;
                            margin-left: 0;
                        }
                    }
                    img
                    {
                        width: 60px;
                        height: 60px;
                        margin: 0;
                    }
                }
                .rapidez
                {
                    div
                    {
                        h2
                        {
                            font-size: 16px;
                            margin-left: 0;
                        }
                    }
                }
                .precio, .seguridad, .calidad
                {
                    div
                    {
                        h2
                        {
                            font-size: 16px;
                            margin-left: 0;
                        }
                    }
                }
            }
            .nosotros
            {
                width: 50%;
                margin: 2em 7% 0 5%;
                padding-right: 0;
                article
                {
                    width: 95%;
                    h5
                    {
                        font-size: 65px;
                        margin-bottom: 0.5em;
                        line-height: 63px;
                        span
                        {
                            font-size: 62px;
                        }
                    }
                    p
                    {
                        display: inline;
                        margin: 0;
                        font-size: 14px;
                    }
                }
            }
        }
    }
}
@media only screen and (min-width: $bp7){
    .team
    {
        .wrapperTeam
        {
            .caracteristicas
            {
                margin-left: 3%;
            }
            .nosotros
            {
                margin: 2em 3% 0 5%;
            }
        }
    }
}
.wrapperLogos
{
    .logosinstalacion
    {
        width: 90%;
        margin: 0 5%;
        h1
        {
            width: 60%;
            margin: 1.5em auto 0;
            font-weight: $texto;
            text-align: left;
            font-size: 16px;
            line-height: 20px;
            span
            {
                font-weight: $titular;
                font-size: 22px;
            }
        }
        .logosempresas
        {
            img
            {
                width: 25%;
                text-align: center;
                margin: 1em 1% 1.5em 5%;
            }
        }
    }
    .logosmarcas
    {
        display: none;
    }
}
@media only screen and (min-width: $bp2){
    .wrapperLogos
    {
        .logosinstalacion
        {
            h1
            {
                text-align: left;
                font-size: 20px;
                line-height: 24px;
                margin: 2.5em 0% 0.5em 25%;
                span
                {
                    font-size: 30px;
                }
            }
            .logosempresas
            {
                margin-bottom: 2em;
            }
        }
        .logosmarcas
        {
            display: block;
            width: 90%;
            margin: 0 5%;
            h2
            {
                width: 100%;
                font-weight: $texto;
                font-size: 16px;
                margin: 1em auto;
                text-align: center;
                span
                {
                    font-weight: $titular;
                }
            }
            .marcas
            {
                display: -webkit-box;
                display: -moz-box;
                display: -ms-flexbox;
                display: -webkit-flex;
                display: flex;
                margin-bottom: 4em;
                margin-left: -5%;
                img
                {
                    width:40%;
                    height: 27px;
                    margin-left: 5%;
                }
            }
        }
    }
}
@media only screen and (min-width: $bp3){
    .wrapperLogos
    {
        .logosinstalacion
        {
            h1
            {
                font-size: 25px;
                line-height: 29px;
                span
                {
                    font-size: 40px;
                }
            }
        }
        .logosmarcas
        {
            h2
            {
                font-size: 20px;
            }
            .marcas
            {
                margin: 1em 0 4em -5%;
            }
        }
    }
}
@media only screen and (min-width: $bp4){
    .wrapperLogos
    {
        .logosinstalacion
        {
            h1
            {
                margin: 2.5em 0% 0.5em 30%;
            }
            .logosempresas
            {
                img
                {
                    max-width: 17%;
                    text-align: center;
                    margin: 1em 1% 1.5em 11%;
                }
            }
        }
        .logosmarcas
        {
            .marcas
            {
                margin-left: 15%;
                img
                {
                    max-width: 15%;
                    height: 25px;
                    margin-left: 5%;
                }
            }
        }
    }
}
@media only screen and (min-width: $bp5){
    .wrapperLogos
    {
        .logosinstalacion
        {
            h1
            {
                font-size: 30px;
                line-height: 34px;
                span
                {
                    font-size: 46px;
                }
            }
            .logosempresas
            {
                width: 70%;
                margin: 0 auto;
                img
                {
                    max-width: 20%;
                }
            }
        }
        .logosmarcas
        {
            margin-top: 3,5em;
            width: 80%;
            margin-left: 10%;
            h2
            {
                font-size: 24px;
            }
        }
    }
}
@media only screen and (min-width: $bp6){
    .wrapperLogos
    {
        max-width: $ancho_max;
        margin: 0 auto;
        .logosinstalacion
        {
            h1
            {
                margin: 2.5em 0% 0.5em 27%;
                font-size: 40px;
                line-height: 44px;
                span
                {
                    font-size: 60px;
                }
            }
        }
        .logosmarcas
        {
            margin-top: 2em;
            h2
            {
                font-size: 28px;
                margin:0 auto 1em;
            }
            .marcas
            {
                margin-bottom: 4em;
            }
        }
    }
}
@media only screen and (min-width: $bp7){
    .logosinstalacion
    {
        h1
        {
            font-size: 43px;
            span
            {
                font-size: 64px;
            }
        }
    }
    .logosmarcas
    {
        margin-top: 5em;
        margin-left: 10%;
        h2
        {
          font-size: 40px;
          margin-left: 20%;
        }
    }
}
.contacto
{
    background-color: $darkpurple;
    width: 100%;
    .wrapperContacto
    {
        width: 90%;
        margin: 0 5%;
        padding: 3em 1%;
        color: $white;
        .izda
        {
            display: -webkit-box;
            display: -moz-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            -webkit-flex-direction: column;
            -moz-flex-direction: column;
            -ms-flex-direction: column;
            -o-box-orient: vertical;
            -webkit-box-orient: vertical;
            -moz-box-orient: vertical;
            flex-direction: column;
            .contactext
            {
                margin: -1.5em 0 1em 0;
                width: 90%;
                .contactpregunta
                {
                    font-size: 14px;
                    font-weight: $titular2;
                }
                p
                {
                    font-size: 9px;
                    line-height: 14px;
                    font-weight: $texto;
                }
            }
            .wrapperAddress
            {
                width: 100%;
                display: -webkit-box;
                display: -moz-box;
                display: -ms-flexbox;
                display: -webkit-flex;
                display: flex;
                margin: 0.5em 0;
                img
                {
                    width: 30px;
                    height: 30px;
                    margin-top: .3em;
                }
                .house
                {
                   margin-top: -.7em;
                }
                div
                {
                    margin-left: 10%;
                    p
                    {
                        font-size: 9px;
                        a
                        {
                            color: $white;
                        }
                    }
                }
                .contactrow
                {
                    display: -webkit-box;
                    display: -moz-box;
                    display: -ms-flexbox;
                    display: -webkit-flex;
                    display: flex;
                    -webkit-flex-direction: column;
                    -moz-flex-direction: column;
                    -ms-flex-direction: column;
                    -o-box-orient: vertical;
                    -webkit-box-orient: vertical;
                    -moz-box-orient: vertical;
                    flex-direction: column;
                    margin-bottom: 0em;
                    .street-address, .locality, .country-name
                    {
                        margin-top: -.8em;
                    }
                }
            }
        }
        .dcha
        {
            p
            {
                text-align: left;
                font-size: 14px;
                font-weight: $titular2;
            }
            input
            {
                margin: 6px auto;
                height: 30px;
                width: 90%;
            }
            ::-webkit-input-placeholder { font-size: 9px; padding-left: 10px;}
            ::-moz-placeholder { font-size: 9px; padding-left: 10px;} /* firefox 19+ */
            :-ms-input-placeholder { font-size: 9px; padding-left: 10px;} /* ie */
            input:-moz-placeholder { font-size: 9px; padding-left: 10px;}
            textarea
            {
                margin: 6px auto;
                height: 70px;
                width: 90%;
            }
            #send
            {
                height: 30px;
                width: 30%;
                color: $white;
                background-color: $color_orange;
                font-size: 10px;
                text-align:center;
                border: 0;
            }
        }
    }
}
@media only screen and (min-width: $bp2){
    .contacto
    {
        .wrapperContacto
        {
            display: -webkit-box;
            display: -moz-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            .izda
            {
                width: 50%;
                margin-top: 1.5em;
            }
            .dcha
            {
                width: 50%;
                .required_comentarios
                {
                    height: 8em;
                }
            }
        }
    }
}
@media only screen and (min-width: $bp5){
    .contacto
    {
        .wrapperContacto
        {
            width: 80%;
            margin: 0 10%;
        }
    }
}
@media only screen and (min-width: $bp6){
    .contacto
    {
        .wrapperContacto
        {
            width: 80%;
            max-width: $ancho_max;
            margin: 0 auto;
            .izda
            {
                .contactext
                {
                    .contactpregunta
                    {
                        font-size: 18px;
                    }
                    p
                    {
                        font-size: 12px;
                        line-height: 18px;
                    }
                }
                .wrapperAddress
                {
                    div
                    {
                        p
                        {
                            display: inline;
                            font-size: 10px;
                        }
                    }
                    .contactrow
                    {
                        .street-address, .locality, .country-name
                        {
                            display: inline;
                            font-size: 10px;
                        }
                        .street-address
                        {
                            margin-bottom: 0;
                        }
                    }
                }
            }
            .dcha
            {
                p
                {
                    font-size: 18px;
                }
            }
        }
    }
}
footer
{
    width: 100%;
    background-color: $grey;
    .wrapperFooter
    {
        width: 90%;
        margin: 0 auto;
        .social
        {
            display: -webkit-box;
            display: -moz-box;
            display: -ms-flexbox;
            display: -webkit-flex;
            display: flex;
            -webkit-justify-content: space-between;
            -ms-justify-content: space-between;
            -moz-justify-content: space-between;
            -ms-flex-pack: distribute;
            justify-content: space-between;
            -webkit-box-pack: justify;
            padding-top: 1em;
            .asefosam
            {
                width:20%;
            }
            .plus
            {
                margin-right: 5%;
            }
        }
        .trade-mark
        {
            .firma
            {
                width:100%;
                font-size: 9px;
                text-align:center;
                margin-top: 1em;
            }
            .enlaces
            {
                width:100%;
                font-size: 9px;
                text-align:center;
                margin-top: 1em;
                padding-bottom: 1em;
                a
                {
                    color: $darkpurple;
                    padding: 0 2%;
                }
            }
        }
    }
}
@media only screen and (min-width: $bp2){
    footer
    {
        background-color:#E5E6E9;
        .social
        {
            width: 80%;
            padding-top: 1em;
            .firma
            {
                margin-left: 10%;
                font-size: 9px;
            }
            .plus
            {
                img
                {
                    width: 30px;
                    margin-left: 150%;
                }
            }
        }
        p
        {
            text-align: center;
            font-size: 12px;
        }
    }
}
#barraaceptacion
{
    display: none;
    position:fixed;
    left:0px;
    right:0px;
    bottom:0px;
    padding-bottom:120px;
    width:100%;
    text-align:center;
    min-height:40px;
    background-color: rgba(0, 0, 0, 0.5);
    color:#fff;
    z-index:99999;
}
.inner
{
    width:100%;
    position:absolute;
    padding-left:5px;
    font-family:verdana;
    font-size:12px;
    top:10%;
}
.inner a.ok
{
    padding:4px;
    color:#00ff2e;
    text-decoration:none;
}
.inner a.info
{
    padding-left:5px;
    text-decoration:none;
    color:#faff00;
}
.cookie
{
    width: 75%;
    margin: 2em auto;
    h3
    {
        padding: 3em 0 1em;
        font-weight: bold;
        font-size: 2em;
    }
    ol
    {
        li
        {
            list-style: decimal;
        }
    }
    ul
    {
        li
        {
            list-style: circle;
        }
    }
    a
    {
        text-decoration: underline;
    }
}
@media screen and (min-width: $bp2) {
    #barraaceptacion
    {
        padding-bottom: 60px;
        min-height:20px;
    }
    .inner
    {
        top: 20%;
    }
}
@media screen and (min-width: $bp6) {
    #barraaceptacion
    {
        padding-bottom: 55px;
    }
}
@media screen and (min-width: $bp7) {
    #barraaceptacion
    {
        padding-bottom: 45px;
        min-height: 16px;
    }
    .inner
    {
        top: 15%;
    }
}
/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers:
 * http://juicystudio.com/article/screen-readers-display-none.php
 */

.hidden
{
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden
{
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

