/* Variables para el uso de la tipografía */
$tipografia: 'Open Sans', sans-serif;
$tipografia2:'Open Sans Condensed', sans-serif;
$titular: 800;
$titular2: 700;
$lighttitular:600;
$normal: 400;
$texto: 300;
$texto2:300;